<div class='accounts-receivables'>	
	<div class='filter-container' *ngIf='getFilter().filterAccReceivables'>
		<div class='filter-input input'>
			<div class='icon'></div>
			<input type='text' #listFilter (keyup)='onKey(listFilter.value)' id='RetailerSearchBox' placeholder='Input Retailer Name or MIN' />
		</div>	
	</div>

	<div class='container-body'>
	    <div class='item-container'>
	        <div class='container'>
	            <div class='cell'>
	            	<div class='container'><div class='cell header bold center title'>Total Receivables : {{getTotalReceivable()}}</div></div>
	            </div>
	        </div>
	    </div>
	</div>

	 <div *ngFor='#FilteredSearch of vSearchedList'>
		<div class='item-container'>
		    <div class='container'>
		    	<div class='cell icon' [ngClass]="{'sulu': (FilteredSearch.source === 'BCP') , 'serenade': (FilteredSearch.source === 'SELF')}">
	            	<div class='src'>
	            		{{FilteredSearch.source}}
	            	</div>
	            </div>
		        <div class='cell'>
	                <div class='container' id ='accSeq' *ngIf='FilteredSearch.sequence'><div class='cell left grey'># Route {{FilteredSearch.sequence}}</div></div>
	                <div class='container' id ='accRetName'><div class='cell left'>{{FilteredSearch.retailer_name}}</div></div>
	                <div class='container' id ='accRetMin'><div class='cell left italic'>{{FilteredSearch.retailer_min}}</div></div>
		        </div>
		        <div class='cell'>
	                <div class='container'><div class='cell right'></div></div>
	                <div class='container' id ='accAmount'><div class='cell right'>{{FilteredSearch.amount}}</div></div>
	                <div class='container'><div class='cell right'></div></div> 
		        </div>
		            <div class='cell ws'></div> 
		    </div>
		</div>
	</div>
</div>