<div class="container-body">
    <div class="item-container-i">
        <div class="item-notification">UPDATED AS OF 04/12/2016 10.00 AM</div>
    </div>
    <div class="filter-container-i" *ngIf="getFilter().filterDSPAlerts">
		<div class="filter-label">Value Segment</div>
        <div class="filter-dropdown">
            <select name="value-segment">
                <option value="high">High</option>
                <option value="medium">Medium</option>
                <option value="low">Low</option>
            </select>
        </div>
        <div class="filter-label">Threshold</div>
        <div class="filter-dropdown">
            <input type="text" placeholder="Enter Threshold"/>
        </div>
        <br/>
	</div>
    <div class="item-container">
        <div class="container">
            <div class='cell'>
                <div class='container'><div class='cell left bold grey'># Route 1</div></div>
                <div class='container'><div class='cell left bold'>Gloria Cell</div></div>
                <div class='container'><div class='cell left italic'>99999900001</div></div>
                <div class='container'><div class='cell left grey'>Value segment</div></div>
                <div class='container'><div class='cell left grey'>Threshold hit</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell right'></div></div>
                <div class='container'><div class='cell right'></div></div>
                <div class='container'><div class='cell right'></div></div>
                <div class='container'><div class='cell right'>High</div></div>
                <div class='container'><div class='cell right'>1,000.00 &nbsp; &#8369;</div></div>
            </div>
            <div class='cell icon'></div>
        </div>
    </div>
</div>