<div class="my-transaction">
    <div class="container-body">
        <div class="button">
            <div class="button-identifier green" (click)="goToTargetsActuals()">Targets &amp; Actuals</div>
        </div>
         <div class="separator"></div>
         <div class="button">
            <div class="button-identifier green" (click)="goToInventory()">Inventory</div>
        </div>
         <div class="separator"></div>
          <div class="button">
            <div class="button-identifier green" (click)="goToRetailerRoute()">Retailer Route</div>
        </div>
         <div class="separator"></div>
          <div class="button">
            <div class="button-identifier green" (click)="goToAccountsReceivables()">Accounts Receivables</div>
        </div>
         <div class="separator"></div>
         <div class="button">
            <div class="button-identifier green" (click)="goToDSPAlerts()">DSP Alerts</div>
        </div>
    </div>
</div>