<div class="container-body">
<div>
	<!--<div class="item-container" >
		<div>CALENDAR HERE</div>
		<div>
                <select class="month" #val_m (change)="setMonth(val_m.value)">
                    <option value="0" disabled selected>Month</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
                <select class="day" #val_m (change)="setDay(val_m.value)">
                </select>
                <div class="inner-box">
                <select class="year" #val_y (change)="setYear(val_y.value)">
                    <option value="0" disabled selected>Year</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                </select>
	</div>

		</div>
	</div>-->
</div>

    <div class="item-container">
		<div class="container">
			<div class='cell'>
		        <div class='container'><div class='cell single bold deep-cyan'># Route 1</div></div>
		        <div class='container'><div class='cell single bold'>Gloria Cell</div></div>
		        <div class='container'><div class='cell single'>Ms. Gloria</div></div>
		        <div class='container'><div class='cell single'>Barangka Dr. Mandaluyong</div></div>
		    </div>
		    <div class='cell icon arrow-right'></div>
		</div>
	</div>
</div>
