<a (click)="showMenuDay()"><div class="sub-tab triple" [ngClass] = "{active: vUnderlineDay}"><div class="text" [ngClass] = "{active: vUnderlineDay}">Day</div></div></a>
<a (click)="showMenuWeek()"><div class="sub-menu-week" [ngClass] = "{active: vUnderlineWeek}"><div class="text" [ngClass] = "{active: vUnderlineWeek}">Week</div></div></a>
<a (click)="showMenuMonth()"><div class="sub-tab triple" [ngClass] = "{active: vUnderlineMonth}"><div class="text" [ngClass] = "{active: vUnderlineMonth}">Month</div></div></a>
<!--Container-->
<div class="container-body">

	<div class="filter-container" *ngIf="getFilter().filterTargetsActuals">
		<div class="filter-label">Brand</div>
		<div class="filter-dropdown">
			<select [(ngModel)]="vSelectedBrand"  (ngModelChange)="onChangeSelectBrand($event)">
				<option  *ngFor="#each of getBrand()" [value]="each.brand" >
				    {{each.brand}}
				</option>
			</select>
		</div>
	</div>

<div *ngIf="vDayShow" >
		<div class="item-container-ta" id="ta-container">
			<div>
				<div *ngFor="#prod_cat of getProduct()">
					<div class="item-title-ta">
						{{prod_cat.category_name}}
					</div>
					<div *ngFor="#prod_sub of prod_cat.ProductSubCategory">
						<div class="item-left">
							{{prod_sub.sub_category_name}}
						</div>
						<div class="item-mid">
							23.33%
						</div>
						<div class="item-right">
								<div style="clear: right;">
								25/{{prod_sub.Product[0].Target[0].Total}}
								</div>
							<div class="target-text">
								Actual/Target
							</div>
							<div class="balance">
								Balance : 
								<div class="balance-number">
									200
								</div>
							</div>
						</div>
					</div>
					<div class="divider"></div>
				</div>
			</div>
		</div>
		
	</div>

	<div *ngIf="vWeekShow">
		<div class="item-container-ta" id="ta-container" *ngFor="#each of getProduct()">
			<div class="item-title-ta">{{each.category_name}}</div>
				<div class="item-left">SIM</div>
				<div class="item-mid">23.33%</div>
				<div class="item-right">
					25/150
					<div class="target-text">Actual/Target</div>
					<div class="balance">Balance : <div class="balace-number">200</div> </div>
				</div>
		</div>
	</div>

	<div *ngIf="vMonthShow">
		<div class="item-container-ta" id="ta-container" *ngFor="#each of getProduct()">
			<div class="item-title-ta">{{each.category_name}}</div>
				<div class="item-left">SIM</div>
				<div class="item-mid">23.33%</div>
				<div class="item-right">
					25/150
					<div class="target-text">Actual/Target</div>
					<div class="balance">Balance : <div class="balace-number">200</div> </div>
				</div>
		</div>
	</div>
</div>

<!--End of Container-->
