<a (click)="showMenuDay()"><div class="sub-tab triple" [ngClass] = "{active: vUnderlineDay}"><div id="day-btn" class="text" [ngClass] = "{active: vUnderlineDay}">Day</div></div></a>
<a (click)="showMenuWeek()"><div class="sub-tab triple2" [ngClass] = "{active: vUnderlineWeek}"><div id="week-btn" class="text" [ngClass] = "{active: vUnderlineWeek}">Week</div></div></a>
<a (click)="showMenuMonth()"><div class="sub-tab triple" [ngClass] = "{active: vUnderlineMonth}"><div id="month-btn" class="text" [ngClass] = "{active: vUnderlineMonth}">Month</div></div></a>
<!--Container-->
<div class="container-body">

	<div id="filter-btn" class="filter-container" *ngIf="getFilter().filterTargetsActuals">
		<div class="item-container">
			<div class="container">
				<div class='cell'>
					<div class="container">
						<div class="cell filter-label width-50 padding-top-1 padding-bottom-1">Brand</div>
					</div>
				</div>
				<div class='cell'>
					<div class="container">
						<div class="cell filter-dropdown width-30 padding-top-1 padding-bottom-1">
							<select name="cars" [(ngModel)]="vSelectedBrand"  (ngModelChange)="onChangeSelectBrand($event)">
								<option *ngFor="#each of getBrand()" [value]="each.brand" >
									{{each.brand}}
								</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	




	<div *ngIf="vDayShow">
		<div  *ngFor="#eachCat of vShowProduct">
			<div class="item-container" >
		        <div class="container">
		        	<div class='cell width-20 targets-{{eachCat.category_name|lowercase}}'></div>
		            <div class='cell'>
		                <div class='container'><div class='cell width-80 green'>{{eachCat.category_name}}</div></div>
		            </div>
		        </div>
		    </div>
		    <div *ngFor="#eachSubCat of eachCat.sub_cat">
			    <div  *ngIf="eachSubCat.ttarget">
			    	<div class="item-container">
				        <div class="container">
				            <div class='cell'>
				                <div class='container'>
				                	<div class='cell width-70'>
								        <div class="container">
								            <div class='cell'>
								                <div class='container'><div class='cell padding-left-5'>{{eachSubCat.sub_category_name}}</div></div>
								                <div class='container'>
								                	<div class='cell'>
												        <div class="container">
												            <div class='cell'>
												                <div class='container'><div class='cell width-33 align-center'>{{eachSubCat.tactual}}</div></div>
												                <div class='container'><div class='cell width-33 align-center'>Actual</div></div>
												            </div>
												            <div class='cell'>
												                <div class='container'><div class='cell width-33 align-center'>{{eachSubCat.ttarget}}</div></div>
												                <div class='container'><div class='cell width-33 align-center'>Target</div></div>
												            </div>
												            <div class='cell'>
												                <div class='container'><div class='cell width-33 align-center'>{{eachSubCat.balance}}</div></div>
												                <div class='container'><div class='cell width-33 align-center'>Balance</div></div>
												            </div>
												        </div>
											    	</div>
											    </div>
								            </div>
								        </div>
									</div>
								</div>
				            </div>
				            <div class='cell width-30'><div class="progress-radial progress-{{eachSubCat.prc_round}}"><div class="overlay">{{eachSubCat.prc_actual}}<sup>%</sup></div></div></div>
				        </div>
			    	</div>
			    </div>
			</div>
	    </div>
	</div>

	<div *ngIf="vWeekShow">
		<div  *ngFor="#eachCat of vShowProduct">
			<div class="item-container" >
		        <div class="container">
		        	<div class='cell width-20 targets-{{eachCat.category_name|lowercase}}'></div>
		            <div class='cell'>
		                <div class='container'><div class='cell width-80 green'>{{eachCat.category_name}}</div></div>
		            </div>
		        </div>
		    </div>
		    <div *ngFor="#eachSubCat of eachCat.sub_cat">
			    <div  *ngIf="eachSubCat.ttarget">
			    	<div class="item-container">
				        <div class="container">
				            <div class='cell'>
				                <div class='container'>
				                	<div class='cell width-70'>
								        <div class="container">
								            <div class='cell'>
								                <div class='container'><div class='cell padding-left-5'>{{eachSubCat.sub_category_name}}</div></div>
								                <div class='container'>
								                	<div class='cell'>
												        <div class="container">
												            <div class='cell'>
												                <div class='container'><div class='cell width-33 align-center'>{{eachSubCat.tactual}}</div></div>
												                <div class='container'><div class='cell width-33 align-center'>Actual</div></div>
												            </div>
												            <div class='cell'>
												                <div class='container'><div class='cell width-33 align-center'>{{eachSubCat.ttarget}}</div></div>
												                <div class='container'><div class='cell width-33 align-center'>Target</div></div>
												            </div>
												            <div class='cell'>
												                <div class='container'><div class='cell width-33 align-center'>{{eachSubCat.balance}}</div></div>
												                <div class='container'><div class='cell width-33 align-center'>Balance</div></div>
												            </div>
												        </div>
											    	</div>
											    </div>
								            </div>
								        </div>
									</div>
								</div>
				            </div>
				            <div class='cell width-30'><div class="progress-radial progress-{{eachSubCat.prc_round}}"><div class="overlay">{{eachSubCat.prc_actual}}<sup>%</sup></div></div></div>
				        </div>
			    	</div>
			    </div>
			</div>
	    </div>
	</div>

	<div *ngIf="vMonthShow">
		<div  *ngFor="#eachCat of vShowProduct">
			<div class="item-container" >
		        <div class="container">
		        	<div class='cell width-20 targets-{{eachCat.category_name|lowercase}}'></div>
		            <div class='cell'>
		                <div class='container'><div class='cell width-80 green'>{{eachCat.category_name}}</div></div>
		            </div>
		        </div>
		    </div>
		    <div *ngFor="#eachSubCat of eachCat.sub_cat">
			    <div  *ngIf="eachSubCat.ttarget">
			    	<div class="item-container">
				        <div class="container">
				            <div class='cell'>
				                <div class='container'>
				                	<div class='cell width-70'>
								        <div class="container">
								            <div class='cell'>
								                <div class='container'><div class='cell padding-left-5'>{{eachSubCat.sub_category_name}}</div></div>
								                <div class='container'>
								                	<div class='cell'>
												        <div class="container">
												            <div class='cell'>
												                <div class='container'><div class='cell width-33 align-center'>{{eachSubCat.tactual}}</div></div>
												                <div class='container'><div class='cell width-33 align-center'>Actual</div></div>
												            </div>
												            <div class='cell'>
												                <div class='container'><div class='cell width-33 align-center'>{{eachSubCat.ttarget}}</div></div>
												                <div class='container'><div class='cell width-33 align-center'>Target</div></div>
												            </div>
												            <div class='cell'>
												                <div class='container'><div class='cell width-33 align-center'>{{eachSubCat.balance}}</div></div>
												                <div class='container'><div class='cell width-33 align-center'>Balance</div></div>
												            </div>
												        </div>
											    	</div>
											    </div>
								            </div>
								        </div>
									</div>
								</div>
				            </div>
				            <div class='cell width-30'><div class="progress-radial progress-{{eachSubCat.prc_round}}"><div class="overlay">{{eachSubCat.prc_actual}}<sup>%</sup></div></div></div>
				        </div>
			    	</div>
			    </div>
			</div>
	    </div>
	</div>
</div>
<!--End of Container-->