<div class="containerLogin">
	<div class="outer-box">
		<div class="header">DSP Mobile App</div>
		<div class="inner-box">
			<div class="loginSeparator"></div>
			<div class="message">DISTRIBUTOR CODE</div>
			<div><input/></div>
			<div class="message">TAX IDENTIFICATION NUMBERR</div>
			<div><input/></div>
			<div class="loginSeparator"></div>
			<br/>
			<div class="loginButton" (click)="toggleVerificationCodeModal()">SEND PASSWORD</div>
		</div>
	</div>
	<div class="smartLogo"></div>
</div>