<div class="containerLogin">
	<div class="outer-box">
		<div class="header">DSP Mobile App</div>
		<div class="inner-box">
			<div class="loginSeparator"></div>
			<div class="message">DISTRIBUTOR CODE</div>
			<div><input/></div>
			<div class="message">TAX IDENTIFICATION NUMBERs</div>
			<div><input/></div>
			<div class="loginSeparator"></div>
			<br/>
<!-- 			<a (click)="gotoLogin()"> -->		
			<a (click)="toggleVerificationCodeModal()">
				<div class="loginButton">SEND PASSWORD</div>
			</a>
		</div>
	</div>
	<div class="smartLogo"></div>
</div>