<div class="containerLogin">
	<div class="outer-box">
		<div class="header">DSP Mobile App</div>
		<div class="inner-box">
			<div class="loginSeparator"></div>
			<div class="errorAlert">{{getErrorMessageText()}}</div>
			<br/>
			<div><input placeholder="Username" [(ngModel)]="username"/></div>
			<div><input placeholder="Password" type="password" [(ngModel)]="password"/></div>
			<a (click)="login($event)"><div class="loginButton">SIGN IN</div></a>
			<p><a (click)="gotoForgotPassword()">Forgot your password?</a></p>
		</div>
	</div>
</div>