<div class="container-login">
	<div class="anti-spy">
	<div class="outer-box">
		<div class="header">iDSP</div>
		<div class="inner-box">
			<div><input placeholder="Username" [(ngModel)]="vUsername" id="username"/></div>
			<div><input placeholder="Password" type="password" [(ngModel)]="vPassword" id="password"/></div>
			<a (click)="login($event)" id="login-link"><div class="login-button" >SIGN IN</div></a>
			<p><a (click)="toggleForgotPassword()" id="forgot-password-link">Forgot your password?</a></p>
		</div>
	</div>
	<div class="smart-logo"></div>
	</div>
</div>