<div class="modalVerificationCode">
    <div class="modalBody">
        <div class="itemHeader">SUCCESS!</div>
        <div class="itemTitle">Password has been sent to your
        <br/>mobile and email address.</div>
       <!--  <div class="itemSubTitle">Always On 499</div>
        <div class="itemRow">
            <div class="itemIcon message"></div>
            <div class="itemText">5 GB + Spinnr Streaming + Opera Max for 30 days</div>
        </div> -->
    </div>
    <div class="modalFooter">
        <div class="button red" (click)="close()">Close</div>
    </div>
</div>
