 <div class="sub-main-menu">
     <div class="container-body">
         <div class="sub-main-button">
             <div class="button-identifier" (click)="goToTargetsActuals()">Targets &amp; Actuals</div>
         </div>
          <div class="separator"></div>
          <div class="sub-main-button">
             <div class="button-identifier" (click)="goToVisitedRetailer()">Visited Retailer Today</div>
         </div>
          <div class="separator"></div>
           <div class="sub-main-button">
             <div class="button-identifier" (click)="goToCollection()">Collection &amp; Remittance</div>
         </div>
         <div class="separator"></div>
          <div class="sub-main-button">
             <div class="button-identifier" (click)="toggleSync()">Sync</div>
         </div>
     </div>
 </div>
