
<div class="container-body">
	<div class="item-container">
	    <div class="container">
	        <div class='cell'>
                <div class='container'>
                	<div class='cell left'>Total Collection</div>
                </div>
                <div class='container'>
                	<div class='cell left italic'>Total collected amount today</div>
                </div>
	        </div>
	        <div class='cell'>
                <!-- <div class='container'><div class='cell right'></div></div> -->
                <div class='container'>
                	<div class='cell right green'>5,000.00 ₱</div>
                </div>
	        </div>
	        <div class='cell icon arrow-right'>
	        </div>
	    </div>
	</div>


	<div class="item-container">
	    <div class="container">
	        <div class='cell'>
                <div class='container'>
                	<div class='cell left'>Total Remittance</div>
                </div>
                <div class='container'>
                	<div class='cell left italic'>Total remittance amount today</div>
                </div>
	        </div>
	        <div class='cell'>
                <!-- <div class='container'><div class='cell right'></div></div> -->
                <div class='container'>
                	<div class='cell right green'>2,000.00 ₱</div>
                </div>
	        </div>
	        <div class='cell icon arrow-right'>
	        </div>
	    </div>
	</div>


	<div class="item-container">
	    <div class="container">
	        <div class='cell'>
                <div class='container'>
                	<div class='cell left'>Difference</div>
                </div>
                <div class='container'>
                	<div class='cell left italic'>Collection - Remittance</div>
                </div>
	        </div>
	        <div class='cell'>
                <!-- <div class='container'><div class='cell right'></div></div> -->
                <div class='container'>
                	<div class='cell right green'>3,000.00 ₱</div>
                </div>
	        </div>
	        <div class='cell icon arrow-right'>
	        </div>
	    </div>
	</div>


	<div class="item-container">
	    <div class="container">
	        <div class='cell'>
                <div class='container'>
                	<div class='cell left'>Previous A/R</div>
                </div>
                <div class='container'>
                	<div class='cell left italic'>Total A/R before today</div>
                </div>
	        </div>
	        <div class='cell'>
                <!-- <div class='container'><div class='cell right'></div></div> -->
                <div class='container'>
                	<div class='cell right green'>10,000.00 ₱</div>
                </div>
	        </div>
	        <div class='cell icon arrow-right'>
	        </div>
	    </div>
	</div>


	<div class="item-container">
	    <div class="container">
	        <div class='cell'>
                <div class='container'>
                	<div class='cell left'>Sales Order</div>
                </div>
                <div class='container'>
                	<div class='cell left italic'>Total order amount today</div>
                </div>
	        </div>
	        <div class='cell'>
                <!-- <div class='container'><div class='cell right'></div></div> -->
                <div class='container'>
                	<div class='cell right green'>2,000.00 ₱</div>
                </div>
	        </div>
	        <div class='cell icon arrow-right'>
	        </div>
	    </div>
	</div>


	<div class="item-container">
	    <div class="container">
	        <div class='cell'>
                <div class='container'>
                	<div class='cell left'>For Collection</div>
                </div>
                <div class='container'>
                	<div class='cell left italic'>Current + Previous Collection</div>
                </div>
	        </div>
	        <div class='cell'>
                <!-- <div class='container'><div class='cell right'></div></div> -->
                <div class='container'>
                	<div class='cell right green'>9,000.00 ₱</div>
                </div>
	        </div>
	        <div class='cell icon arrow-right'>
	        </div>
	    </div>
	</div>


	<div class="item-container">
	    <div class="container">
	        <div class='cell'>
                <div class='container'>
                	<div class='cell left'>Total A/R</div>
                </div>
                <div class='container'>
                	<div class='cell left italic'>Previous A/R + Sales Order - For Collection</div>
                </div>
	        </div>
	        <div class='cell'>
                <!-- <div class='container'><div class='cell right'></div></div> -->
                <div class='container'>
                	<div class='cell right green'>3,000.00 ₱</div>
                </div>
	        </div>
	        <div class='cell icon arrow-right'>
	        </div>
	    </div>
	</div>

</div>