
<div class="container-body">
	<div class="item-container">
	    <div class="container">
	        <div class='cell'>
                <div class='container'>
                	<div class='cell padding-left-5 width-50'>Total Collection</div>
                </div>
                <div class='container'>
                	<div class='cell padding-left-5 width-50 italic small'>Total collected amount today</div>
                </div>
	        </div>
	        <div class='cell'>
                <!-- <div class='container'><div class='cell width-40 align-right'></div></div> -->
                <div class='container'>
                	<div class='cell width-40 align-right green'>5,000.00 ₱</div>
                </div>
	        </div>
	        <div class='cell width-10 arrow-right'>
	        </div>
	    </div>
	</div>


	<div class="item-container">
	    <div class="container">
	        <div class='cell'>
                <div class='container'>
                	<div class='cell padding-left-5 width-50'>Total Remittance</div>
                </div>
                <div class='container'>
                	<div class='cell padding-left-5 width-50 italic small'>Total remittance amount today</div>
                </div>
	        </div>
	        <div class='cell'>
                <!-- <div class='container'><div class='cell width-40 align-right'></div></div> -->
                <div class='container'>
                	<div class='cell width-40 align-right green'>2,000.00 ₱</div>
                </div>
	        </div>
	        <div class='cell width-10 arrow-right'>
	        </div>
	    </div>
	</div>


	<div class="item-container">
	    <div class="container">
	        <div class='cell'>
                <div class='container'>
                	<div class='cell padding-left-5 width-50'>Difference</div>
                </div>
                <div class='container'>
                	<div class='cell padding-left-5 width-50 italic small'>Collection - Remittance</div>
                </div>
	        </div>
	        <div class='cell'>
                <!-- <div class='container'><div class='cell width-40 align-right'></div></div> -->
                <div class='container'>
                	<div class='cell width-40 align-right green'>3,000.00 ₱</div>
                </div>
	        </div>
	        <div class='cell width-10 arrow-right'>
	        </div>
	    </div>
	</div>


	<div class="item-container">
	    <div class="container">
	        <div class='cell'>
                <div class='container'>
                	<div class='cell padding-left-5 width-50'>Previous A/R</div>
                </div>
                <div class='container'>
                	<div class='cell padding-left-5 width-50 italic small'>Total A/R before today</div>
                </div>
	        </div>
	        <div class='cell'>
                <!-- <div class='container'><div class='cell width-40 align-right'></div></div> -->
                <div class='container'>
                	<div class='cell width-40 align-right green'>10,000.00 ₱</div>
                </div>
	        </div>
	        <div class='cell width-10 arrow-right'>
	        </div>
	    </div>
	</div>


	<div class="item-container">
	    <div class="container">
	        <div class='cell'>
                <div class='container'>
                	<div class='cell padding-left-5 width-50'>Sales Order</div>
                </div>
                <div class='container'>
                	<div class='cell padding-left-5 width-50 italic small'>Total order amount today</div>
                </div>
	        </div>
	        <div class='cell'>
                <!-- <div class='container'><div class='cell width-40 align-right'></div></div> -->
                <div class='container'>
                	<div class='cell width-40 align-right green'>2,000.00 ₱</div>
                </div>
	        </div>
	        <div class='cell width-10 arrow-right'>
	        </div>
	    </div>
	</div>


	<div class="item-container">
	    <div class="container">
	        <div class='cell'>
                <div class='container'>
                	<div class='cell padding-left-5 width-50'>For Collection</div>
                </div>
                <div class='container'>
                	<div class='cell padding-left-5 width-50 italic small'>Current + Previous Collection</div>
                </div>
	        </div>
	        <div class='cell'>
                <!-- <div class='container'><div class='cell width-40 align-right'></div></div> -->
                <div class='container'>
                	<div class='cell width-40 align-right green'>9,000.00 ₱</div>
                </div>
	        </div>
	        <div class='cell width-10 arrow-right'>
	        </div>
	    </div>
	</div>


	<div class="item-container">
	    <div class="container">
	        <div class='cell'>
                <div class='container'>
                	<div class='cell padding-left-5 width-50'>Total A/R</div>
                </div>
                <div class='container'>
                	<div class='cell padding-left-5 width-50 italic small'>Previous A/R + Sales Order - For Collection</div>
                </div>
	        </div>
	        <div class='cell'>
                <!-- <div class='container'><div class='cell width-40 align-right'></div></div> -->
                <div class='container'>
                	<div class='cell width-40 align-right green'>3,000.00 ₱</div>
                </div>
	        </div>
	        <div class='cell width-10 arrow-right'>
	        </div>
	    </div>
	</div>

</div>