<div class="container-body">
	<div class="item-container">
	    <div class="container">
	        <div class='cell'>
                <div class='container'>
                	<div class='cell align-center width-100 large'>Total Collection :</div>
                </div>
	        </div>
	    </div>
	    <div class="container">
	        <div class='cell'>
                <div class='container'>
                	<div class='cell align-center width-100 large'>P 8,000</div>
                </div>
	        </div>
	    </div>
	</div>

	<div class="item-container">
		<div class="container">
			<div class='cell'>
				<div class='container'>
					<div class='cell width-60 padding-left-5'>c12345</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class='cell'>
				<div class='container'>
					<div class='cell width-60 padding-left-5'>Bird Cell</div>
				</div>
			</div>
			<div class='cell'>
				<div class='container'>
					<div class='cell width-30 align-right'>P 6,000</div>
				</div>
			</div>
			<div class='cell width-10'></div>
		</div>
	</div>

	<div class="item-container">
		<div class="container">
			<div class='cell'>
				<div class='container'>
					<div class='cell width-60 padding-left-5'>c12346</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class='cell'>
				<div class='container'>
					<div class='cell width-60 padding-left-5'>Rose Cell</div>
				</div>
			</div>
			<div class='cell'>
				<div class='container'>
					<div class='cell width-30 align-right'>P 2,000</div>
				</div>
			</div>
			<div class='cell width-10'></div>
		</div>
	</div>	

	<div class="item-container">
		<div class="container">
			<div class='cell'>
				<div class='container'>
					<div class='cell width-60 padding-left-5'>c12347</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class='cell'>
				<div class='container'>
					<div class='cell width-60 padding-left-5'>ABC Cell</div>
				</div>
			</div>
			<div class='cell'>
				<div class='container'>
					<div class='cell width-30 align-right'>P 0</div>
				</div>
			</div>
			<div class='cell width-10'></div>
		</div>
	</div>		

</div>