<div class="container-body">
	<div class="item-container">
		<div class="container">
			<div class='cell'>
				<div class='container'>
					<div class='cell align-center width-100 large'>Total Remittance :</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class='cell'>
				<div class='container'>
					<div class='cell align-center width-100 large'>P {{getTotalRemittance() | number}}</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Remittance List -->
	<div class="item-container" *ngFor="#item of getRemittance()">
		<div class="container">
			<div class='cell'>
				<div class='container'>
					<div class='cell width-60 padding-left-5'>{{item.remit_id}}</div>
				</div>
			</div>
			<div class='cell'>
				<div class='container'>
					<div class='cell width-30 align-right vivid-pink' *ngIf="item.confirm===0">Unconfirmed</div>
					<div class='cell width-30 align-right green' *ngIf="item.confirm===1">Confirmed</div>
				</div>
			</div>
			<div class='cell width-10'></div>
		</div>

		<div class="container">
			<div class='cell'>
				<div class='container'>
					<div class='cell width-60 padding-left-5'>{{item.remit_type}}</div>
				</div>
			</div>
			<div class='cell'>
				<div class='container'>
					<div class='cell width-30 align-right'>P {{item.remit_amount | number}}</div>
				</div>
			</div>
			<div class='cell width-10'></div>
		</div>

		<div *ngIf="item.remit_type==='Bank Deposit'" class="container">
			<div class='cell'>
				<div class='container'>
					<div class='cell width-90 padding-left-5'>Bank {{item.bank_name}} / {{item.branch_name}}</div>
				</div>
			</div>
			<div class='cell width-10'></div>
		</div>

		<div *ngIf="item.remit_type==='Bank Deposit'" class="container">
			<div class='cell'>
				<div class='container'>
					<div class='cell width-90 padding-left-5'>{{item.account_no}}</div>
				</div>
			</div>
			<div class='cell width-10'></div>
		</div>

		<div class="container">
			<div class='cell'>
				<div class='container'>
					<div class='cell width-90 padding-left-5'>{{item.transfer_date}}</div>
				</div>
			</div>
			<div class='cell width-10'></div>
		</div>

		<div class="container">
			<div class='cell'>
				<div class='container'>
					<div class='cell width-60 padding-left-5'>Acknowledge by </div>
				</div>
			</div>
			<div class='cell'>
				<div class='container'>
					<div class='cell width-30 align-right'>{{item.acknowledge_by=='' ? '-' : item.acknowledge_by}} </div>
				</div>
			</div>
			<div class='cell width-10'></div>
		</div>
	</div>
	<!-- End of Remittance List -->
</div>