<div class="container-body">
	<div class="item-container">
        <div class='container'>
            <div class='cell'>
            	<div class='container'><div class='cell align-center width-100'>Total Sales Order :</div></div>
            </div>
        </div>
        <div class='container'>
	        <div class='cell'>
            	<div class='container'><div class='cell align-center width-100'>2,000.00 ₱</div></div>
            </div>
        </div>
    </div>


    <div class="item-container">
        <div class="container">
            <div class='cell'>
                <div class='container'><div class='cell padding-left-5 width-50'>Order #12345</div></div>
                <div class='container'><div class='cell padding-left-5 width-50'>Bird Cell</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell padding-right-5 width-50 align-right'></div></div>
                <div class='container'><div class='cell padding-right-5 width-50 align-right'>5,500.00 &#8369;</div></div>
            </div>
        </div>
    </div>
    <div class="item-container">
        <div class="container">
            <div class='cell'>
                <div class='container'><div class='cell padding-left-5 width-50'>Order #12346</div></div>
                <div class='container'><div class='cell padding-left-5 width-50'>Rose Cell</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell padding-right-5 width-50 align-right'></div></div>
                <div class='container'><div class='cell padding-right-5 width-50 align-right'>1,500.00 &#8369;</div></div>
            </div>
        </div>
    </div>
    <div class="item-container">
        <div class="container">
            <div class='cell'>
                <div class='container'><div class='cell padding-left-5 width-50'>Order #12347</div></div>
                <div class='container'><div class='cell padding-left-5 width-50'>ABC Cell</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell padding-right-5 width-50 align-right'></div></div>
                <div class='container'><div class='cell padding-right-5 width-50 align-right'>3,000.00 &#8369;</div></div>
            </div>
        </div>
    </div>
</div>