<div class="container-body">
	<div class="item-container">
        <div class='container'>
            <div class='cell'>
            	<div class='container'><div class='cell align-center width-100'>Total Collection : </div></div>
            </div>
        </div>
        <div class='container'>
	        <div class='cell'>
            	<div class='container'><div class='cell align-center width-100'>8,000.00 ₱</div></div>
            </div>
        </div>
    </div>


    <div class="item-container">
        <div class="container">
            <div class='cell'>
                <div class='container'><div class='cell padding-left-5 width-50'>C12345</div></div>
                <div class='container'><div class='cell padding-left-5 width-50'>Bird Cell</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell padding-right-5 width-50 align-right'></div></div>
                <div class='container'><div class='cell padding-right-5 width-50 align-right'>6,000.00 &nbsp; &#8369; </div></div>
            </div>
        </div>
    </div>
    <div class="item-container">
        <div class="container">
            <div class='cell'>
                <div class='container'><div class='cell padding-left-5 width-50'>C12346</div></div>
                <div class='container'><div class='cell padding-left-5 width-50'>Rose Cell</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell padding-right-5 width-50 align-right'></div></div>
                <div class='container'><div class='cell padding-right-5 width-50 align-right'>2,000.00 &nbsp; &#8369; </div></div>
            </div>
        </div>
    </div>
    <div class="item-container">
        <div class="container">
            <div class='cell'>
                <div class='container'><div class='cell padding-left-5 width-50'>C12347</div></div>
                <div class='container'><div class='cell padding-left-5 width-50'>ABC Cell</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell padding-right-5 width-50 align-right'></div></div>
                <div class='container'><div class='cell padding-right-5 width-50 align-right'>0.00 &nbsp; &#8369; </div></div>
            </div>
        </div>
    </div>
</div>