
    .filter-container{
            background-color: $white-smoke;
            width: 100%;
            display: block;
            clear: left;
            height: 50px;
        .filter-label {
            font-size: $filter-label;
            color: #000;
            padding-top: 20px;
            padding-left: 10px;
            float: left;
        }
        .filter-input{
            padding-top: 7px;
            padding-left: 24px;
            input {
                background: $white;
                height: 30px;
                border: 1px solid $dark-grey;
                width: 90%;
                -webkit-appearance: none;
                border-radius: 7px;
                padding-left: 15px;
                font-size: $filter-select;
                appearance: none;
            }
        }
}
