.accounts-receivables{
  
    .filter-container{
            background-color: $white-smoke;
            width: 100%;
            display: block;
            clear: left;
            height: 50px;
            position: center center;
        .filter-label {
            font-size: $filter-label;
            color: #000;
            padding-top: 20px;
            padding-left: 10px;
            float: left;
        }
        .filter-input{
            padding-top: 7px;
            padding-left: 24px;

            input {
                background: $white;
                height: 30px;
                border: 1px solid $dark-grey;
                width: 90%;
                -webkit-appearance: none;
                border-radius: 7px;
                padding-left: 15px;
                font-size: $filter-select;
                appearance: none;
            }
        }
    }

    .container-body{
        background-color: white;
        width: 100%;
        height: 100%;

        .item-container {
            display: inline-block;
            width: calc(100% - 20px);
            padding-left: 10px;
            padding-right: 10px;
            border-bottom: 1px solid #BFBFBF;
            cursor: pointer;

            .item-icon {
                height: 30px;
                width: 30px;
                float: right;
                color: #000;
                font-size: 17px;
                text-align: center;
                &.open-sub-item {
                    background: url("../img/icon-idsp/path-right-grey.png")no-repeat;
                    background-position-x: center;
                    background-position-y: 7px;
                    background-size: 13px;
                }
                &.selected
                {
                    transform: rotate(180deg);
                }

            }

            .item-title {
                position: center center;
            }
            
            .item-identifier {
                color: #7F7F7F;
                font-size: 18px;
                margin-right: 10px;
                margin-top: 10px;
                &.single-line {
                    width: 125px;
                    float: left;
                }
                &:after {
                    clear: both;
                }
                .item-header{
                    font-size: 20px;
                    font-weight: 500;
                    margin-bottom: 5px;
                    color: #A8A8A8;               
                }
                .item-body{
                     .float-right{
                        float: right;
                        font-size: 18px;
                        margin-right: 20px;
                        position: center;
                    }
                    .float-left{
                        float: left;
                    }
                }
            }
        }
        
        .animate-repeat {
          line-height:30px;
          list-style:none;
          box-sizing:border-box;
        }

        .animate-repeat.ng-move,
        .animate-repeat.ng-enter,
        .animate-repeat.ng-leave {
          transition:all linear 0.5s;
        }

        .animate-repeat.ng-leave.ng-leave-active,
        .animate-repeat.ng-move,
        .animate-repeat.ng-enter {
          opacity:0;
          max-height:0;
        }

        .animate-repeat.ng-leave,
        .animate-repeat.ng-move.ng-move-active,
        .animate-repeat.ng-enter.ng-enter-active {
          opacity:1;
          max-height:30px;
        }
    }

}
