$smart-bg-green : #005A5B;
$smart-menu-color : #007879;
$red : #FF0000;

//all-background
$white : #FFF;
$footer-background:#F5f5f5;
//no-divider-button, double-divider-button
$dark-sea-green : #00C2BA;
//sub-main-menu
$dark-cyan : #00989B;
//text content
$black : #000000;
//text basic-call-procedure
$grey : #7F7F7F;
$dark-grey : #A6A6A6;
//border line
$border-line : #BFBFBF;

//header
$deep-cyan : #007879;

$iris-blue : #DCE6F2;
$white-smoke : #F2F2F2;

//
$light-grayish-blue : #DCE6F2;
$menu-underline : #ED135B;

$inactive-tab-grey : #D9D9D9;

// .html { font-size: 200%; } 
//header
$header-title : 26px;
$header-tab : 16px;
$header-tab-clicked : 18px;
//content
$content-title : 24px;
$content-heading-1 : 18px;
$content-heading-2 : 16px;
$content-normal : 16px;



$filter-select : 14px;
$filter-label : 18px;

//footer
$footer-normal : 12px;
//button
$button : 18px;



