$select-arrow: 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE0LjgzIDE2LjQybDkuMTcgOS4xNyA5LjE3LTkuMTcgMi44MyAyLjgzLTEyIDEyLTEyLTEyeiIvPjxwYXRoIGQ9Ik0wLS43NWg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+PC9zdmc+';
/*
===========================================================
SUBMENU
===========================================================
*/
.sub-main-menu {
    z-index: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
    .container-body {
        background-color: $dark-cyan;
        overflow-x: hidden;
        position: relative;
        .separator {
            border-bottom: 0.1em solid $white;
        }
        .sub-main-button {
            display: inline-block;
            width: 100%;
            padding-bottom: 0.8em;
            padding-top: 0.8em;
            background-color: $dark-cyan;
            .button-identifier {
                font-size: $content-heading-1;
                text-align: center;
                color: $white;
            }
        }
    }
}

/*
===========================================================
SUBTAB
===========================================================
*/
.sub-tab {
    display: block;
    background-color: $smart-menu-color;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -3px;
    float: left;
    &.double {
        width: 50%;
    }
    &.triple {
        width: 33%;
    }
    &.active {
        border-bottom: 0.3em solid $menu-underline;
    }
    .text {
        color: $inactive-tab-grey;
        text-align: center;
        font-size: $header-tab;

        &.active {
            color: $white;
            font-weight: bold;
        }
    }
}


/*
===========================================================
LIST VIEW
===========================================================
*/

/*
===========================================================
LIST VIEW - BUTTON
===========================================================
*/
.container-body {
    background-color: $white;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    overflow-x: hidden;

    &.menu {
        overflow-x: visible;
    }
    .no-divider {
        width: 100%;
        float:left;
    }
    .double-divider{
        width: 50%;
        float:left;
    }
    .button {
        display: inline-block;
        width: 80%;
        padding-bottom: 15px;
        padding-top: 15px;
        background-color: $dark-sea-green;
        margin: 10%;
        border-radius: 5px;
        .button-identifier {
            cursor: pointer;
            font-size: $button;
            text-align: center;
            width: 100%;
            color: $white;
            font-weight: lighter;
        }
    }

    .parent {
        width: 100%;
    }

    .cover {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 35.64% 0 0 0; /* 34.37% = 100 / (w / h) = 100 / (1038 / 370) */

        .cover-photo {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: url("../img/dashboard.png")no-repeat center center;
            background-size: cover;

            .anti-spy {
                width: 100%;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.4);
                padding: 10.64% 10% 25% 5%;
            }
            .cover-date {
                height: 10%;
                width: 100%;
                position: absolute;
                color: $white;
                font-weight: bold;
                font-size: 4vw;
                padding: 0% 1% 0% 73%;
            }
            .profile-photo {
                width: 6%;
                background: url(../img/profpic.jpg) no-repeat;
                background-position: center center;
                border: 3px solid $white;
                border-radius: 50%;
                -webkit-transform: translateZ(0);
                -webkit-backface-visibility: hidden;
                background-size: cover;
                margin-left: auto;
                margin-right: auto;
                padding: 10.64% 10% 10% 5%;
                margin-top: 5%;
            }
            .cover-name {
                height: 20%;
                width: 100%;
                text-align:center;
                position: absolute;
                color: $white;
                font-weight: bold;
                font-size: 5vw;
            }
        }

        
    }

    .square-button {
        display: table;
        width: 100%;
        padding-bottom: 2vw;
        padding-top: 2vw;

        &.border-left {
            border-left: 1px solid $white-smoke;
        }
        &.border-bottom {
            border-bottom: 1px solid $white-smoke;
        }

        .icon {
            height: 15vw;
            width: 100%;

            &.call {
                background: url("../img/icon-idsp/phone-grey.png")no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-size: 12vw;
            }
        }

        .text {
            height: 30%;
            display: inline-block;
            width: 100%;
            font-weight: lighter;
            text-align: center;
            font-size: 4vw;
            padding-bottom: 1vw;
            padding-top: 1vw;
        }
    }

    

/*
===========================================================
LIST VIEW - TEXT
===========================================================
*/

    .item-container {
        width: 100%;
        border-bottom: 1px solid $border-line;
        cursor: pointer;

        &.sub {
            background-color: $whisper;
        }

        .container {
            display: table;
            width: 100%;

            &.border {
                border-bottom: 1px solid $border-line;
            }
        }
        .cell {
            display:table-cell;
            font-size: $content-normal;
            height:1.6em;
            vertical-align:middle;

            &.left {
                width: 45%;
                padding-left:0.6em;
            }
            &.right {
                width: 40%;
                text-align: right;
            }
            &.single {
                width: 85%;
                padding-left:0.6em;
            }
            &.single-large {
                height:3.2em;
                width: 85%;
                padding-left:0.6em;
            }
            &.icon {
                width: 15%;
            }

            &.bold {
                font-weight: bold;
            }
            &.italic {
                font-style: italic;
            }
            &.center {
                text-align: center;
            }

            &.grey {
                color: $grey;
            }
            &.deep-cyan {
                color: $deep-cyan;
            }

            &.sub-cell {
                padding-left:2em;
            }
            &.title {
                font-size: 1.2em;
                height:2.5em;
            }


/*
===========================================================
LIST VIEW - ICON
===========================================================
*/

            &.arrow-down {
                background: url("../img/icon-idsp/path-down-grey.png")no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-size: 20px;
            }
            &.arrow-right {
                background: url("../img/icon-idsp/path-right-grey.png")no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-size: 13px;
            }
            &.selected {   
                background: url("../img/icon-idsp/path-down-up.png")no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-size: 20px;
            }
            &.call {
                background: url("../img/icon-idsp/phone-grey.png")no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-size: 20px;
            }
        }
    }
      
 /*
===========================================================
LIST VIEW - FILTER
===========================================================
*/   

    .filter-container{
        background-color: $white-smoke;
        width: 100%;
        display: block;
        clear: left;
        height: 60px;
        .filter-label {
            font-size: $filter-label;
            color: #000;
            padding-top: 20px;
            padding-left: 10px;
            float: left;
        }
        .filter-dropdown {
            padding-top: 15px;
            padding-left: 70px;
            select {
                background: $white;
                height: 31px;
                border: 1px solid $dark-grey;
                width: 90%;
                -webkit-appearance: none;
                border-radius: 7px;
                padding-left: 15px;
                font-size: $filter-select;
                appearance: none;
                @media screen and (-webkit-min-device-pixel-ratio: 0) {
                    background-image: url(#{$select-arrow});
                    background-position: right 0 top 50%;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}




