.header-container{
  width: 100%;
    height: 3.2em;
    .main-box{
      background-color: $deep-cyan;
      top: 0;
      z-index: 100;
      width: 100%;
      position: fixed;
      .default-box{
        height: 3.1em;
        width: 100%;
        .title{
          position: fixed;
          z-index: 1000;
          width: 100%;
          text-align: center;
          color: $white;
          font-size: $header-title;
          padding-top: 0.75em;
        }
        .header-icon{
          width:3.1em;
          height:3.1em;
          position: fixed;
          z-index:1000;
          cursor: pointer;
          &.back{
            background: url("../img/icon-idsp/back-white.png") no-repeat;
            background-size: 1.6em;
            background-position: center center;
          }
          &.filter{
            right: 0;
            background: url("../img/icon-idsp/filter.png") no-repeat;
            background-size: 1.6em;
            background-position: center center;
          }
         &.search{
            right: 0;
            background: url("../img/icon-idsp/search-white.png") no-repeat;
            background-size: 1.6em;
            background-position: center center;
          }
        }
      }
    }


}