
.container-body {
    .item-container-i {
        display: inline-block;
        width: 100%;
        cursor: pointer;

        &.border {
            border-bottom: 2px solid $border-line;
        }
    }
    .filter-container-i{
        background-color: $white-smoke;
        width: 100%;
        display: block;
        clear: left;

        &.load {
            height: 215px;
        }
        &.physical {
            height: 260px;
        }

        .filter-label {
            font-size: $filter-label;
            color: #000;
            padding-top: 20px;
            padding-left: 10px;
            float: left;
        }
        .filter-dropdown {
            padding-top: 15px;
            padding-left: 150px;
            select {
                background: $white;
                height: 31px;
                border: 1px solid $dark-grey;
                width: 90%;
                -webkit-appearance: none;
                border-radius: 7px;
                padding-left: 15px;
                font-size: $filter-select;
                appearance: none;
                @media screen and (-webkit-min-device-pixel-ratio: 0) {
                    background-image: url(#{$select-arrow});
                    background-position: right 0 top 50%;
                    background-repeat: no-repeat;
                }
            }
            input {
                background: $white;
                height: 26px;
                border: 1px solid $dark-grey;
                width: 83%;
                -webkit-appearance: none;
                border-radius: 7px;
                padding-left: 15px;
                font-size: $filter-select;
                appearance: none;
            }
        }
    }
}