.left-menu-other {
    height: 100%;
    width: 100%;
    // left: ($menuwidth+10px);
    position: fixed;
    z-index: 120;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.left-menu-container {
    width: 75%;
    z-index: 150;
    background-color: $white;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    left: -75%;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: .3s ease all;
    -ms-transition: .3s ease all;
    transition: .3s ease all;
    
    &.active {
        -webkit-transform: translate3d( 100% ,0,0);
        -ms-transform: translate3d( 100% ,0,0);
        transform: translate3d( 100% ,0,0);
        -webkit-transition: .3s ease all;
        -ms-transition: .3s ease all;
        transition: .3s ease all;
    }
    
    .menu-header {
        padding: 2% 0% 2% 0%;
        color: $white;
        display: inline-block;
        padding-left: 5vw;
        padding-right: 5vw;
        width: calc(100% - 5vw);
        background-color: $apple;
        .header-container {
            display: table;
            width: 100%;
            padding-top: 1vw;
            padding-bottom: 1vw;
        }
        .header-cell {
            display:table-cell;
            height:18vw;
            vertical-align:middle;
            &.pic {
                width: 18vw;
                background: url(../img/profpic.jpg) no-repeat;
                background-size: cover;
                background-position: center center;
                border: 3px solid $white;
                border-radius: 50%;
                /*justify-content: center;
                align-items: center;*/
                -webkit-transform: translateZ(0);
                -webkit-backface-visibility: hidden;    
            }
            &.text {  
                color: $white;
                width: 75%;
                font-size: 7vw;
                font-weight: 600;
                text-align: center;
            }
        }
    }
    
    .menu-item-box {
        
        display: inline-block;
        width: 100%;
        .separator {
            border-bottom: 1px solid $white-smoke;        
        }
        .container {
            display: table;
            width: 100%;
            padding-top: 1vw;
            padding-bottom: 1vw;
        }
        .cell {
            display:table-cell;
            font-size: 4vw;
            height: 7vw;
            vertical-align:middle;

            &.single {
                width: 85%;
                padding-left: 3vw;
            }

            &.icon {
                width: 15%;
            }

            &.arrow-right {
                background: url("../img/icon-idsp/path-right-grey.png")no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-size: 2vw;
            }
            // delete below once testing is done
            &.call {
                background: url("../img/icon-idsp/phone-grey.png")no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-size: 13px;
            }
            ////////////////////////////
            &.bcp {
                background: url(#{$icon-round-grad-bcp})no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-size: 7vw;
            }
            &.inventory {
                background: url(#{$icon-round-grad-inventory})no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-size: 7vw;
            }
            &.logout {
                background: url(#{$icon-round-grad-logout})no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-size: 7vw;
            }
            &.remittance {
                background: url(#{$icon-round-grad-remittance})no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-size: 7vw;
            }
            &.stock-return {
                background: url(#{$icon-round-grad-stock-return})no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-size: 7vw;
            }
            &.target {
                background: url(#{$icon-round-grad-target})no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-size: 7vw;
            }
            &.acc-receivable {
                background: url(#{$icon-round-grad-acc-receivable})no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-size: 7vw;
            }
            &.alert {
                background: url(#{$icon-round-grad-alert})no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-size: 7vw;
            }
            &.collection {
                background: url(#{$icon-round-grad-collection})no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-size: 7vw;
            }
            &.retailer-route {
                background: url(#{$icon-round-grad-retailer-route})no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-size: 7vw;
            }
            &.sync {
                background: url(#{$icon-round-grad-sync})no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-size: 7vw;
            }
            &.visited {
                background: url(#{$icon-round-grad-visited})no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-size: 7vw;
            }
            &.unserved-order {
                background: url(#{$icon-round-grad-unserved-order})no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-size: 7vw;
            }
        }
    }
}