$container-login-height: 100%;

.container-login {
	background: url("../img/login_bg.png") no-repeat center center;
	z-index: 50;
	position: fixed;
    left: 0;
    right: 0;
	height: 100%;
	text-align :center;

	.anti-spy {
                width: 100%;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.4);
                height : 100%;
            }

    ::-webkit-input-placeholder {
		color:    #FFF;
	}
	:-moz-placeholder {
		color:    #FFF;
	}
	::-moz-placeholder {
		color:    #FFF;
	}
	:-ms-input-placeholder {
		color:    #FFF;
	}
	.outer-box {
		max-width : 80%;
		margin: 20vw auto -3vw;
		.header {
			color: #FFF;
			font-size: 10vw;
			line-height: 5vw;
			margin-bottom: 20vw;
			text-align: center;
		}
		.inner-box {
			background-color: rgba(0, 0, 0, 0);
			border: 0;
			text-align: center;
			.button {
				width: 100%;
				margin: 60px auto 18px;
				cursor: pointer;
				background-color: transparent;
				border: 1px solid #FFF;
				padding-right: 0;
				padding-left: 0;
                .spinner{
                    margin-top: 0px;
                    margin-bottom: 0px;
                    margin-left: auto;
                    margin-right: auto;
                    .item{
                        background-color: #FFF;
                        width: 10px;
                        height: 10px;
                    }
                }
			}
			.message{
				color: #FFF;
			}
            .error-alert{
                color:#FFF;
                font-size:3vw;
            }
			input {
				width: 100%;
				// margin: 2vw auto;
				display: block;
				height: 10vw;
				border: none;
				font-size: 4vw;
				margin-top: 1.5vw;
				margin-bottom: 1.5vw;
				background-color: rgba(199, 195, 184, 0.5);
				outline: 0;
				color : #FFF;
				text-align: center;
				font-style: italic;
			}
			p {
				a {
					color: #FFF;
					text-decoration: underline;
					cursor: pointer;
					font-size: 4vw;
				}
			}
		}
		.login-button
		{
			height: 7vw;
			background-color: $apple;
			text-align: center;
			vertical-align: center;
			font-size: 5vw;
    		padding: 2vw;
    		color : #FFF;
		}
		.login-separator
		{
			border: 5px solid #005A5B;
			margin-bottom: 50px;
		}
	}
	.after-box {
		margin-top: 20px;
	}
	.smart-logo
	{
		display: block;
        //height: 30px;
        width: 100%;
        background: 
        url("../img/smart-logo.png")
        no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: 30vw;
        z-index: 90;
		position: fixed;
		padding-top: 73vw;

	}
}