#splash {
	background-color: $smart-bg-green;
	//height: 100%;
	.picture{
		margin-top: 0;
		height: 200px;
		width: 100%;
		background: url(../img/smart-logo.png) no-repeat;
		background-position: center center;
		background-size: 200px;
		padding: 0px 0;
		margin: 0px auto 0px;
	}	

}