.targets-actuals {
    //padding-bottom: 45px;
    z-index: 1;
    height: 100%;
    width: 100%;
    .sub-menu-day
    {
    	display: block;
	    width: 34%;
	    background-color: $smart-menu-color;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    margin-top: -3px;
	    margin-right: -1%;
	    float: left;
	    &.active{
		    border-bottom: 3px solid $red;
	    	margin-left: 0;
	    }
	    .text
	    {
	    	color: #fff;
	    	text-align: center;
	    	font-size: 15px;

	    }
	}
	.sub-menu-week
    {
    	display: block;
	    width: 35%;
	    background-color: $smart-menu-color;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    margin-top: -3px;
	    margin-right: -1%;
	    margin-left: -1%;
	    float: left;
	    &.active{
		    border-bottom: 3px solid $red;
	    	margin-left: 0;
	    }
	    .text
	    {
	    	color: #fff;
	    	text-align: center;
	    	font-size: 15px;

	   }
	}
	.sub-menu-month
    {
    	display: block;
	    width: 34%;
	    background-color: $smart-menu-color;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    margin-top: -3px;
	    margin-right: -1%;
	    float: left;
	    &.active{
		    border-bottom: 3px solid $red;
	    	margin-left: 0;
	    }
	    .text
	    {
	    	color: #fff;
	    	text-align: center;
	    	font-size: 15px;

	    }    

    }
}
