$containerLogin-height: 100%;
.verification {
	z-index: 50;
	position: fixed;
    left: 0;
    right: 0;
    background-color: #005A5B;
	height: 100%;
	text-align :center;
    ::-webkit-input-placeholder {
		color:    #FFF;
	}
	:-moz-placeholder {
		color:    #FFF;
	}
	::-moz-placeholder {
		color:    #FFF;
	}
	:-ms-input-placeholder {
		color:    #FFF;
	}
	.outer-box {
		max-width : 320px;
		margin: 70px auto 0px;
		.header {
			color: #FFF;
			font-size: 28px;
			line-height: 40px;
			padding-right: 20px;
			margin-bottom: 10px;
			text-align: center;
			font-weight: lighter;
		}
		.inner-box {
			background-color: rgba(0, 0, 0, 0);
			border: 0;
			text-align: center;
			padding: 0;
			.button {
				width: 100%;
				margin: 60px auto 18px;
				cursor: pointer;
				background-color: transparent;
				border: 1px solid #FFF;
				padding-right: 0;
				padding-left: 0;
                .spinner{
                    margin-top: 0px;
                    margin-bottom: 0px;
                    margin-left: auto;
                    margin-right: auto;
                    .item{
                        background-color: #FFF;
                        width: 10px;
                        height: 10px;
                    }
                }
			}
            .error-alert{
                color:#FFF;
                font-size:14px;
            }

			input {
				width: 12%;
				margin: 2px auto;
				display: block;
				height: 35px;
				border: none;
				line-height: 50px - 20px;
				font-size: medium;
				margin-bottom: 5px;
				background-color: #63DFDC;
				outline: 0;
				color : #000;
				text-align: center;
				font-style: italic;
                border-bottom: 1px solid #000;
                float: left;
			}
			p {
				a {
					color: #FFF;
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}
		.login-button
		{
			height: 35px;
			background-color: #00C2BA;
			text-align: center;
			vertical-align: center;
			font-size: 15pt;
    		padding-top: 7px;
    		color : #FFF;
		}
		.login-separator
		{
			border: 5px solid #005A5B;
			margin-bottom: 50px;
		}
	}
	.after-box {
		margin-top: 20px;
	}
	.smart-logo
	{
		display: block;
        height: 30px;
        width: 100%;
        margin-top: 2px;
        background: 
        url("../img/smart-logo.png")
        no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: 100px;
        z-index: 90;
		position: fixed;
		bottom: 20px;
	}
	.message
	{
		display: block;
		color : #fff;
		font-weight: lighter;
    	font-size: small;
    	text-align: center;
    	font-style: italic;
    	padding: 12px;
	}
	.mpin-box
	{
		display: block;
		align-content: center;
		.separator-box
		{
			padding-right: 5px;
		}
	}
}