@import '../node_modules/spinkit/scss/spinners/7-three-bounce';
@import '../node_modules/spinkit/scss/spinners/8-circle';

@import 'global-parameter';
@import 'global';

@import "layout";
@import "header";

@import "login";
@import "home";
@import "verification";
@import "mpin";

@import "splash";
@import "left-menu";

@import "modal-box";
@import "modal-verification-code";

@import "bcp-collection";

@import "stock-return";
@import "offers";



// @import "footer";
// @import "targets-actuals";
// @import "inventory";
// @import "retailer-route";
// @import "accounts-receivables";
// @import "dsp-alerts";
// @import "reset-password";
// @import "basic-call-procedure";
// @import "detail-retailer";
// @import "sales-order-payment";
// @import "visited-retailer";
// @import "bcp-activity-step";
@import "offers";
@import "confirm-collection";


