<div class="container-body">
    <div class="item-container">
    	<div class="item-title left">Today's Route</div>
    </div>
    <div class="item-container">
    	<div class="item-identifier">Gloria Cell</div>
    	<div class="tbs">
    		<div>Retailer Mobile Number</div>
    	 	<div>+621235872125</div>
    	 	<div>Retailer Mobile Number 2</div>
    	 	<div>+621235872125</div>
    	</div>
    </div>
    <div class="item-container">
    	<div class="item-identifier">Mobile Number</div>
    	 <a (click)="gotoDetailRetailer()"><div class="item-icon arrow-right"></div></a>      	
    </div>
</div>
