<div class="container-body">
    <div class='filter-container' *ngIf='getFilter().filterRetailerBCP'>
        <div class='filter-input input'>
            <div class='icon'></div>
            <input type='text' #listFilter (keyup)='onKey(listFilter.value)' id='RetailerSearchBox' placeholder='Input Retailer Name or MIN' />
        </div>  
    </div>

<div class="container-body">
    <!-- <div class="item-container" (click)="gotoCallPreparationHC({status: 'In Progress'})"> -->
    <div class="item-container" *ngFor="#each of getFilteredDate()" (click)="gotoAnotherPage(each)">
        <div class="container">
            <div class='cell width-10 padding-left-5'><div class="sequence green">1</div></div>
            <div class='cell'>
                <div class='container'><div class='cell width-40 padding-left-5'>{{each.storeName}}</div></div>
                <div class='container'><div class='cell width-40 padding-left-5 italic'>{{each.retailerMinDetails}}</div></div>
                <div class='container'><div class='cell width-40 padding-left-5'>Account receivables ({{each.numberofAgingSELFTransaction}}/{{each.numberofSELFTransaction}})</div></div>
            </div>
            <div class='cell'>
                 <div *ngIf="each.call_status === 'Visited'">
                    <div class='container'><div class='cell width-40 align-right bold dark-sea-green'>Visited</div></div>
                </div>
                <div *ngIf="each.call_status === 'In Progress'">
                    <div class='container'><div class='cell width-40 align-right bold grey'>Visited/NotVisited</div></div>
                </div>
                <div *ngIf="each.call_status === 'Visited'">
                    <div class='container'><div class='cell width-40 align-right bold vivid-pink'>Visited/NotVisited</div></div>
                </div>
                <div class='container'><div class='cell width-40 align-right'></div></div>
                <div class='container'><div class='cell width-40 align-right'>{{each.totalAmountofSELFTransaction}} ₱</div></div>
            </div>
            <div class='cell width-10 arrow-right'></div>
        </div>
    </div>
</div>
