<div *ngFor="#each of getRetailers()" >
    <div class="container-body">
        <div class="item-container">
            <div class='container'>
                <div class='cell width-20'>
                    <input id="checkbox-1" class="checkbox-custom" name="checkbox-1" type="checkbox">
                    <label for="checkbox-1" class="checkbox-custom-label"></label>
                </div>
                <div class='cell'>

                        <div class='container'>
                            <div class='cell width-80 padding-right-5'>{{each.retailer_name}}</div>
                        </div>
                        <div class='container'>
                            <div class='cell width-80 padding-right-5 grey'>{{each.retailer_min}}</div>
                        </div>
                        <div class='container'>
                            <div class='cell width-80 padding-right-5 grey'>{{each.retailer_address}}</div>
                        </div>
                
                </div>  
            </div>
        </div>

        <div class='item-container'>
            <div class="container">

                <div class='button' id='add-retailer-route-ok' (click)="gotoBasicCallProcedure(each)">
                    <div class='button-identifier'>OK</div>
                </div>
            </div>
        </div>
    </div>
</div>    