<div class="container-body">
    <div class="item-container">
        <div class="bcp-step-container">
            <div class="step-field">
                <div class="step-field-item"><div class="step-circle">1</div></div>
                <div class="step-field-item">-</div>
                <div class="step-field-item"><div class="step-circle">2</div></div>
                <div class="step-field-item">-</div>
                <div class="step-field-item"><div class="step-circle vivid-pink">3</div></div>
                <div class="step-field-item">-</div>
                <div class="step-field-item"><div class="step-circle">4</div></div>
                <div class="step-field-item">-</div>
                <div class="step-field-item"><div class="step-circle">5</div></div>
            </div>
        </div>
    </div>
</div>

<div class="container-body-offers">
    <div class="cover">
        <div class="pic">
        </div>
    </div>

    <div class="item-container">
    	Get 30% discount for every purchased SmartLoad with minimum purchase 50,000 ₱ and 20% with minimum purchase 30,000 ₱
    </div>
	
	<div class="no-divider">
		<div class= "button" (click)="gotoRetailerSalesOrder()">
			<div class="button-identifier" id="next-collection">NEXT</div>
		</div>
	</div>
</div>
