<div class="container-body">
    <div class="item-container">
        <div class='container'>
            <div class='cell'>
                <div class='container'>
                    <div class='cell width-20 padding-left-5'>
                        <div class="squaredThree">
                            <input type="checkbox" value="None" id="squaredThree" name="check" checked />
                                <label for="squaredThree"></label>
                        </div>
                    </div>
                </div>
            </div>  
        </div>

        <div class="container">
            <div class="cell">
                <div class="container">
                    <div class='cell width-80 padding-right-5'>BM Store</div>
                </div>
            </div>
            <div class="cell">
                <div class="container">
                    <div class='cell width-80 padding-right-5 grey'>9995207740</div>
                </div>
            </div>
            <div class="cell">
                <div class="container">
                    <div class='cell width-80 padding-right-5 grey'>MARIKINA</div>
                </div>
            </div>
        </div>




    </div>
<!--     <div class="item-container">
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell width-100 padding-left-5'>DSP SUN Wallet Balance</div></div>
            </div>
        </div>
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell width-50 padding-left-5'>Suggested Orders</div></div>
                <div class='container'><div class='cell width-50 padding-left-5'>Before</div></div>
                <div class='container'><div class='cell width-50 padding-left-5'>Transfer Amount</div></div>
                <div class='container'><div class='cell width-50 padding-left-5'>After</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell width-50 align-right'>350</div></div>
                <div class='container'><div class='cell width-50 align-right'>50,000.00 ₱</div></div>
                <div class='container'><div class='cell width-50 align-right'>Transfer Amount</div></div>
                <div class='container'><div class='cell width-50 align-right'>After</div></div>
            </div>
        </div>
    </div> -->

    <div class='item-container'>
        <div class="container">

            <div class='button' id='add-retailer-route-ok' (click)="gotoBasicCallProcedure()">
                <div class='button-identifier'>OK</div>
            </div>
        </div>
    </div>
</div>    