    <div class="container-body bcp-steps">
        <div class="item-container">
            <div class="container">
                <div class="cell">
                    <div class="container">
                        <div class="cell center header title2">Rose Cell</div>
                    </div>
                    <div class="container">
                        <div class="cell center header italic">9999999999</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="step-container">
        <div class="step">
            <div class="left">
                <div class="circle">1</div>
                <div class="line"></div>
            </div>
            <div class="right">
                <div class="title">Collection</div>
                <div class="body">10:00 - 13:00</div>
            </div>
        </div>

        <div class="step">
            <div class="left">
                <div class="circle">2</div>
                <div class="line"></div>
            </div>
            <div class="right">
                <div class="title">Offers</div>
                <div class="body">10:00 - 13:00</div>
            </div>
        </div>

        <div class="step">
            <div class="left">
                <div class="circle">3</div>
            </div>
            <div class="right">
                <div class="title">Sales Order</div>
                <div class="body">10:00 - 13:00</div>
            </div>
        </div>
  </div>

<div class="container-body">
    <div class="no-divider">
        <div class="button">
            <a (click)="next($event)" id="next-link"><div class="button-identifier">Next</div></a>
        </div>
    </div>
</div>