<div class='container-body'>
    <div class='item-container'>
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell single1 title'>{{vSelectedRetailName}}</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell left3 italic'>({{vSelectedRetailMIN}})</div></div>
            </div>
        </div>
    </div>
    <div class='item-container'>
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell center title bold'>Price After Promo:</div></div>
                <div class='container'><div class='cell center title green' [ngClass]="{'red': (vTotalAmount < 0)}">{{getTotalAmount()}} ₱</div></div>
            </div>
        </div>
    </div>
    <div class='item-container'>
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell left'>Price Before Promo</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell right'>{{vSubTotal}} ₱</div></div>
            </div>
            <div class='cell icon'></div>
        </div>
    </div>
    <div class='item-container'>
        <div class='container'>
            <div class='cell'>
                <!-- <div class='container'>
                    <div class='cell'>
                        <div class="container">
                            <div class='cell'>
                                <div class='container'><div class='cell header padding-left'>Promo Code</div></div>
                            </div>
                            <div class='cell'>
                                <div class='container'><div class='cell left icon sales-view'></div></div>
                            </div>
                        </div>    
                    </div>
                </div> -->
                <div class='container'><div class='cell left'>Promo Amount</div></div>
            </div>
            <div class='cell'>
               <!--  <div class='filter-content'>
                    <div class="filter-dropdown">
                        <select class='green'>
                            <option value="aa">MC00087PD</option>
                            <option value="bb">MC00097PD</option>
                            <option value="cc">XL1234567</option>
                            <option value="dd">XL7654321</option>
                        </select>
                    </div>
                </div>-->
                <div class='container'><div class='filter-input input'><input type='text' [(ngModel)]='vPromoAmount'></div></div> 
            </div>
            <div class='cell icon'></div>
        </div>
    </div>
    <div class='item-container'>
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell left'>Transfer Load</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell right'>{{vTransferLoad}} ₱</div></div>
            </div>
            <div class='cell icon edit-gray'></div>
        </div>
    </div>
    <div *ngIf='vAllDataList'>
        <div class='item-container'>
            <div class='container'>
                <div class='cell'>
                    <div class='container'><div class='cell left'>DSP Sun Wallet Balance</div></div>
                    <div class='container'><div class='cell left grey'>Transfer Amount</div></div>
                </div>
                <div class='cell'>
                    <div class='container'><div class='cell right'></div></div>
                    <div class='container'><div class='cell right'>2,000.00 ₱</div></div>
                </div>
                <div class='cell icon'></div>
            </div>
        </div>
        <div class='item-container'>
            <div class='container'>
                <div class='cell'>
                    <div class='container'><div class='cell left'>DSP SMART Wallet Balance</div></div>
                    <div class='container'><div class='cell left grey'>Transfer Amount</div></div>
                </div>
                <div class='cell'>
                    <div class='container'><div class='cell right'></div></div>
                    <div class='container'><div class='cell right'>2,000.00 ₱</div></div>
                </div>
                <div class='cell icon'></div>
            </div>
        </div>
    </div>
    <div class='item-container'>
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell left'>Physical Order</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell right'>{{vPhysicalOrder}} ₱</div></div>
            </div>
            <div class='cell icon edit-gray'></div>
        </div>
    </div>
    <div class='double-divider'>
        <div class='button' id='skip' (click)='skipSalesOrderModalComponent()'>
            <div class='button-identifier'>SKIP</div>
        </div>
    </div>
    <div class='double-divider' id='confirm'>
        <div class='button' (click)="goToSalesOrderPayment()">
            <div class='button-identifier'>CONFIRM</div>
        </div>
    </div>
</div>
