<div class="container-body">

	<div class="item-container sub">
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell width-100 padding-left-5 large green'>Rose Cell</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell width-50 italic green'>(99999900003)</div></div>
            </div>
        </div>
	</div>

	<div class="item-container sub">
        <div class="container">
			<div class='cell'>
				<div class='container'>
					<div class='cell width-60 padding-left-5 grey'>Amount Receivables</div>
				</div>
			</div>
			<div class='cell'>
				<div class='container'>
					<div class='cell width-30 align-right green '>3000 ₱</div>
				</div>
			</div>
			<div class='cell width-10'></div>
		</div>
		<div class="container">
			<div class='cell'>
				<div class='container'>
					<div class='cell width-60 padding-left-5 grey'>Collection Amount</div>
				</div>
			</div>
			<div class='cell'>
				<div class='container'>
					<div class='cell width-30 align-right green '>1000 ₱</div>
				</div>
			</div>
			<div class='cell width-10'></div>
		</div>
		<div class="container">
			<div class='cell'>
				<div class='container'>
					<div class='cell width-60 padding-left-5 grey'>Balance</div>
				</div>
			</div>
			<div class='cell'>
				<div class='container'>
					<div class='cell width-30 align-right green '>2000 ₱</div>
				</div>
			</div>
			<div class='cell width-10'></div>
		</div>
    </div>

    <div class="item-container no-padding-item-container">
	    <div class="container">
	    	<div class='cell vertical sulu'>
            	<div class='vertical-text'>BCP</div>
            </div>
	        <div class='cell'>
                <div class='container'>
                	<div class='cell width-100'>
					    <div class="container">
					        <div class='cell'>
				                <div class='container' id ="accRetMin"><div class='cell width-50 padding-left-5'>Order #</div></div>
					        </div>
					        <div class='cell'>
				                <div class='container' id ="accAmount"><div class='cell width-50 padding-right-5 align-right'>12345</div></div>
					        </div>
					    </div>
                	</div>
                </div>
                <div class='container'>
                	<div class='cell width-100'>
					    <div class="container">
					        <div class='cell'>
				                <div class='container' id ="accRetMin"><div class='cell width-50 padding-left-5'>Date</div></div>
					        </div>
					        <div class='cell'>
				                <div class='container' id ="accAmount"><div class='cell width-50 padding-right-5 align-right vivid-pink'>2016-01-16  08:17</div></div>
					        </div>
					    </div>
                	</div>
                </div>
                <div class='container'>
                	<div class='cell width-100'>
					    <div class="container">
					        <div class='cell'>
				                <div class='container' id ="accRetMin"><div class='cell width-50 padding-left-5'>Balance Amount</div></div>
					        </div>
					        <div class='cell'>
				                <div class='container' id ="accAmount"><div class='cell width-50 padding-right-5 align-right'>1,500 ₱</div></div>
					        </div>
					    </div>
                	</div>
                </div>

		 		<div class="container">
				  	<div class="cell width-100">				    	    
					    <ul class="button-group round toggle" data-toggle="buttons-radio">
					      <li>
					        <input type="radio" id="r2-1" name="r-group-2" data-toggle="collection-2" checked>
					        <label class="radio-button" for="r2-1">Full</label>
					      </li>
					      <li>
					        <input type="radio" id="r2-2" name="r-group-2" data-toggle="collection-2">
					        <label class="radio-button" for="r2-2">Partial</label>
					      </li>
					    </ul>
				    </div>
			  	</div> 

			  	

                <div class="item-container">
			        <div class='container'>
			            <div class='cell'>			              
			                <div class='container'>
			                	<div class='cell width-100'>
					                <div class='container'>
					                    <div class='cell'>
					                        <div class="container">
					                            <div class='cell'>
					                                <div class='container'><div class='cell width-50 padding-left-5'>Collection</div></div>
					                            </div>
					                            <div class='cell'>					                                
					                                <div class='container'><div class='cell width-50 padding-right-5 align-right'><input class="width-50 input-peso" id="amount" type="number" pattern="[0-9]+([,\.][0-9]+)?" value="500"/></div></div>
					                            </div>
					                        </div>
					                    </div>
					                </div>
					            </div>
					        </div>
			            </div>
			        </div>
			    </div>



	        </div>
	    </div>
	</div>


	<div class="item-container no-padding-item-container">
	    <div class="container">
	    	<div class='cell vertical serenade'>
            	<div class='vertical-text'>SELF</div>
            </div>
	        <div class='cell'>               
                <div class='container'>
                	<div class='cell width-100'>
					    <div class="container">
					        <div class='cell'>
				                <div class='container' id ="accRetMin"><div class='cell width-50 padding-left-5'>Order #</div></div>
					        </div>
					        <div class='cell'>
				                <div class='container' id ="accAmount"><div class='cell width-50 padding-right-5 align-right'>57621</div></div>
					        </div>
					    </div>
                	</div>
                </div>
                <div class='container'>
                	<div class='cell width-100'>
					    <div class="container">
					        <div class='cell'>
				                <div class='container' id ="accRetMin"><div class='cell width-50 padding-left-5'>Date</div></div>
					        </div>
					        <div class='cell'>
				                <div class='container' id ="accAmount"><div class='cell width-50 padding-right-5 align-right'>2016-05-22  13:02</div></div>
					        </div>
					    </div>
                	</div>
                </div>
                <div class='container'>
                	<div class='cell width-100'>
					    <div class="container">
					        <div class='cell'>
				                <div class='container' id ="accRetMin"><div class='cell width-50 padding-left-5'>Balance Amount</div></div>
					        </div>
					        <div class='cell'>
				                <div class='container' id ="accAmount"><div class='cell width-50 padding-right-5 align-right'>500 ₱</div></div>
					        </div>
					    </div>
                	</div>
                </div>

		 		<div class="container">
				  	<div class="cell width-100">				    	    
					    <ul class="button-group round toggle" data-toggle="buttons-radio">
					      <li>
					        <input type="radio" id="r1-1" name="r-group-1" data-toggle="collection-1" checked>
					        <label class="radio-button" for="r1-1">Full</label>
					      </li>
					      <li>
					        <input type="radio" id="r1-2" name="r-group-1" data-toggle="collection-1">
					        <label class="radio-button" for="r1-2">Partial</label>
					      </li>
					    </ul>
				    </div>
			  	</div> 

			  	

                <div class="item-container">
			        <div class='container'>
			            <div class='cell'>			              
			                <div class='container'>
			                	<div class='cell width-100'>
					                <div class='container'>
					                    <div class='cell'>
					                        <div class="container">
					                            <div class='cell'>
					                                <div class='container'><div class='cell width-50 padding-left-5'>Collection</div></div>
					                            </div>
					                            <div class='cell'>					                                
					                                <div class='container'><div class='cell width-50 padding-right-5 align-right'><input class="width-50 input-peso" id="amount" type="number" pattern="[0-9]+([,\.][0-9]+)?" value="500"/></div></div>
					                            </div>
					                        </div>
					                    </div>
					                </div>
					            </div>
					        </div>
			            </div>
			        </div>
			    </div>



	        </div>
	    </div>
	</div>

	  <div class="item-container no-padding-item-container">
	    <div class="container">
	    	<div class='cell vertical sulu'>
            	<div class='vertical-text'>BCP</div>
            </div>
	        <div class='cell'>
                <div class='container'>
                	<div class='cell width-100'>
					    <div class="container">
					        <div class='cell'>
				                <div class='container' id ="accRetMin"><div class='cell width-50 padding-left-5'>Order #</div></div>
					        </div>
					        <div class='cell'>
				                <div class='container' id ="accAmount"><div class='cell width-50 padding-right-5 align-right'>68321</div></div>
					        </div>
					    </div>
                	</div>
                </div>
                <div class='container'>
                	<div class='cell width-100'>
					    <div class="container">
					        <div class='cell'>
				                <div class='container' id ="accRetMin"><div class='cell width-50 padding-left-5'>Date</div></div>
					        </div>
					        <div class='cell'>
				                <div class='container' id ="accAmount"><div class='cell width-50 padding-right-5 align-right'>2016-05-23  13:18</div></div>
					        </div>
					    </div>
                	</div>
                </div>
                <div class='container'>
                	<div class='cell width-100'>
					    <div class="container">
					        <div class='cell'>
				                <div class='container' id ="accRetMin"><div class='cell width-50 padding-left-5'>Balance Amount</div></div>
					        </div>
					        <div class='cell'>
				                <div class='container' id ="accAmount"><div class='cell width-50 padding-right-5 align-right'>1,000 ₱</div></div>
					        </div>
					    </div>
                	</div>
                </div>

		 		<div class="container">
				  	<div class="cell width-100">				    	    
					    <ul class="button-group round toggle" data-toggle="buttons-radio">
					      <li>
					        <input type="radio" id="r3-1" name="r-group-3" data-toggle="collection-3" checked>
					        <label class="radio-button" for="r3-1">Full</label>
					      </li>
					      <li>
					        <input type="radio" id="r3-2" name="r-group-3" data-toggle="collection-3">
					        <label class="radio-button" for="r3-2">Partial</label>
					      </li>
					    </ul>
				    </div>
			  	</div> 

			  	

                <div class="item-container">
			        <div class='container'>
			            <div class='cell'>			              
			                <div class='container'>
			                	<div class='cell width-100'>
					                <div class='container'>
					                    <div class='cell'>
					                        <div class="container">
					                            <div class='cell'>
					                                <div class='container'><div class='cell width-50 padding-left-5'>Collection</div></div>
					                            </div>
					                            <div class='cell'>					                                
					                                <div class='container'><div class='cell width-50 padding-right-5 align-right'><input class="width-50 input-peso" id="amount" type="number" pattern="[0-9]+([,\.][0-9]+)?" value="0"/></div></div>
					                            </div>
					                        </div>
					                    </div>
					                </div>
					            </div>
					        </div>
			            </div>
			        </div>
			    </div>



	        </div>
	    </div>
	</div>

	<!--div class="item-container">
	  <div class="container">
	  	<div class="cell width-100">
	    	    
		    <ul class="button-group round toggle" data-toggle="buttons-radio">
		      <li>
		        <input type="radio" id="r1" name="r-group" data-toggle="radio-button" checked>
		        <label class="radio-button" for="r1">Full</label>
		      </li>
		      <li>
		        <input type="radio" id="r2" name="r-group" data-toggle="radio-button">
		        <label class="radio-button" for="r2">Partial</label>
		      </li>
		    </ul>

	    </div>
	  </div>
	</div-->


	<div class="double-divider">
		<div class= "button" (click)="skipCollection()">
			<div class="button-identifier" id="skip-confirm-collection">SKIP</div>
		</div>
	</div>
	<div class="double-divider">
		<div class= "button" (click)="gotoOffers()">
			<div class="button-identifier" id="confirm-confirm-collection">CONFIRM</div>
		</div>
	</div>
</div>