    <div class="container-body">
        <div class="item-container">
            <div class="container">
                <div class='cell'>
                    <div class='container'><div class='cell left title bold'>{{vSelectedRetail.retailer_name}}</div></div>
                </div>
                <div class='cell'>
                    <div class='container'>
                        <div class='cell right bold deep-cyan' *ngIf="vSelectedRetailSeq"># Route {{vSelectedRetailSeq}}</div>
                        <div class='cell right' *ngIf="!vSelectedRetailSeq"></div>
                    </div>
                </div>
                <div class='cell icon'></div>
            </div>
        </div>
        <div class="item-container" (click)="subMenuShow()">
            <div class="container">
                <div class='cell'>
                    <div class='container'><div class='cell single grey'>Retailer Owner</div></div>
                    <div class='container'><div class='cell single'>{{vSelectedRetail.owner_first_name}}</div></div>
                </div>
                <div class='cell icon arrow-down' [ngClass]="{selected: vSubMenuShow}"></div>
            </div>
        </div>

        <div class="item-container sub" *ngIf="vMenuShow">
            <div class="container border">
                <div class='cell'>
                    <div class='container'><div class='cell single grey'>Civil Status</div></div>
                    <div class='container'><div class='cell single'>{{vSelectedRetail.civil_status}}</div></div>
                </div>
                <div class='cell icon'></div>
            </div>
            <div class="container border">
                <div class='cell'>
                    <div class='container'><div class='cell single grey'>Email Address</div></div>
                    <div class='container'><div class='cell single'>{{vSelectedRetail.email}}</div></div>
                </div>
                <div class='cell icon'></div>
            </div>
            <div class="container border">
                <div class='cell'>
                    <div class='container'><div class='cell single grey'>Gender</div></div>
                    <div class='container'><div class='cell single'>{{vSelectedRetail.gender}}</div></div>
                </div>
                <div class='cell icon'></div>
            </div>
            <div class="container">
                <div class='cell'>
                    <div class='container'><div class='cell single grey'>BOD</div></div>
                    <div class='container'><div class='cell single'>{{vSelectedRetail.birthday | date:'dd MMMM yyyy'}}</div></div>
                </div>
                <div class='cell icon'></div>
            </div>
        </div>


        <div class="item-container">
            <div class="container">
                <div class='cell'>
                    <div class='container'><div class='cell single grey'>Mobile Number (MIN)</div></div>
                    <div class='container'><div class='cell single'>{{vSelectedRetail.retailer_min}}</div></div>
                </div>
                <a href="tel:1234566" class='cell icon call'></a>
            </div>
        </div>
        <div class="item-container">
            <div class="container">
                <div class='cell'>
                    <div class='container'><div class='cell single grey'>Address</div></div>
                    <div class='container'><div class='cell single'>{{vSelectedRetail.retailer_address}}</div></div>
                </div>
                <div class='cell icon'></div>
            </div>
        </div>
        <div class="item-container">
            <div class="container">
                <div class='cell'>
                    <div class='container'><div class='cell single grey'>Amount Receivable</div></div>
                    <div class='container'><div class='cell single'>{{vSelectedRetail.amount_receivable | number}} ₱</div></div>
                </div>
                <div class='cell icon'></div>
            </div>
        </div>        
        <div class="item-container">
            <div class="container">
                <div class='cell'>
                    <div class='container'><div class='cell single grey'>Value Segment</div></div>
                    <div class='container'><div class='cell single'>{{vSelectedRetail.value_segment}}</div></div>
                </div>
                <div class='cell icon'></div>
            </div>
        </div>
        <div class="item-container">
            <div class="container">
                <div class='cell'>
                    <div class='container'><div class='cell single grey'>Threshold</div></div>
                    <div class='container'><div class='cell single'>{{vSelectedRetail.threshold | number }} ₱</div></div>
                </div>
                <div class='cell icon'></div>
            </div>
        </div>
        <div class="item-container">
            <div class="container" (click)='goToInventoryRetailer(1)'>
                <div class='cell'>
                    <div class='container'><div class='cell single-large grey'>Inventory</div></div>
                </div>
                <div class='cell icon arrow-right'></div>
            </div>
        </div>

    </div>