<div class="detail-retailer-container">
    <div class="container-body">
        <div class="item-container">
            <div class="item-identifier">
                <div class="item-title"><div *ngIf="getRetailerAll()">{{getRetailerAll().storeName}}</div></div>
            </div>
        </div>
        <div class="item-container">
            <div class="item-identifier">Retailer Owner</div>
            <div class="item-value"><div *ngIf="getRetailerAll()">{{getRetailerAll().ownerName}}</div></div>
            <a (click)="subMenuShow()"><div class="item-icon open-sub-item selected" [ngClass] = "{selected: vArrowMap}"></div></a>

         <div *ngIf="vMenuShow">
            <div class="item-sub-container">
               <div class="item-identifier">Civil Status</div>
                <div class="item-value"><div *ngIf="getRetailerAll()">{{getRetailerAll().serviceNumber}}</div></div>
            </div>
             <div class="item-sub-container">
               <div class="item-identifier">Email</div>
                <div class="item-value"><div *ngIf="getRetailerAll()">{{getRetailerAll().email}}</div></div>
            </div>
             <div class="item-sub-container">
               <div class="item-identifier">Gender</div>
                <div class="item-value"><div *ngIf="getRetailerAll()">{{getRetailerAll().gender}}</div></div>
            </div>
             <div class="item-sub-container">
               <div class="item-identifier">Birthday</div>
                <div class="item-value"><div *ngIf="getRetailerAll()">{{getRetailerAll().birthday}}</div></div>
            </div>
        </div>

        </div>
        <div class="item-container" >
            <div class="item-identifier">Mobile Number</div>
            <div class="item-value"><div *ngIf="getRetailerAll()">{{getRetailerAll().serviceNumber}}</div></div>
            <div class="item-icon call"></div>
        </div>
        <div class="item-container" >
            <div class="item-identifier">Address</div>
            <div class="item-value"><div *ngIf="getRetailerAll()">{{getRetailerAll().storeAddress}}</div></div>
        </div>
        <div class="item-container" >
            <div class="item-identifier">Amount Receivable</div>
            <div class="item-value">100000</div>
        </div>
        <div class="item-container">
            <div class="item-identifier">Retailer Load Wallet </div>
            <div class="item-value"></div>
        </div>
        <div class="item-container">
            <div class="item-identifier">Value</div>
            <div class="item-value"></div>
          
        </div>
        <div class="item-container">
            <div class="item-identifier">Threshold</div>
            <div class="item-value"></div>
        </div>
    </div>
</div>