<div class="container-body">
    <div class="item-container sub fixed">
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell width-100 padding-left-5 large green'>Rose Cell</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell width-50 italic green'>(99999900003)</div></div>
            </div>
        </div>
    </div>

    <div class="item-container margin-top-13">
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell width-100 padding-left-5'>DSP SMART Wallet Balance</div></div>
            </div>
        </div>
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell width-50 padding-left-5'>Suggested Orders</div></div>
                <div class='container'><div class='cell width-50 padding-left-5'>Before</div></div>
                <div class='container'><div class='cell width-50 padding-left-5'>Edit Load Transfer Amount</div></div>
                <div class='container'><div class='cell width-50 padding-left-5'>After</div></div>
                <div class='container'><div class='cell width-50 padding-left-5'>Promo Code</div></div>
                <div class='container'><div class='cell width-50 padding-left-5'>Promo Amount</div></div>
                <div class='container'><div class='cell width-50 padding-left-5'>Total Amount</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell width-50 padding-right-5 align-right'>350.00 ₱</div></div>
                <div class='container'><div class='cell width-50 padding-right-5 align-right'>50,000.00 ₱</div></div>
                <div class='container'><div class='cell width-50 padding-right-3 align-right'><input class="width-60 input-peso" id="amount"/></div></div>
                <div class='container'><div class='cell width-50 padding-right-5 align-right'>48,000.00 ₱</div></div>
                <div class='container'><div class='cell width-50 padding-right-3 align-right'><input class="width-70" id="amount"/></div></div>
                <div class='container'><div class='cell width-50 padding-right-3 align-right'><input class="width-60 input-peso" id="amount"/></div></div>
                <div class='container'><div class='cell width-50 padding-right-5 align-right'>1,900.00 ₱</div></div>
            </div>
        </div>
    </div>
    <div class="item-container">
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell width-100 padding-left-5'>DSP SUN Wallet Balance</div></div>
            </div>
        </div>
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell width-50 padding-left-5'>Suggested Orders</div></div>
                <div class='container'><div class='cell width-50 padding-left-5'>Before</div></div>
                <div class='container'><div class='cell width-50 padding-left-5'>Edit Load Transfer Amount</div></div>
                <div class='container'><div class='cell width-50 padding-left-5'>After</div></div>
                <div class='container'><div class='cell width-50 padding-left-5'>Promo Code</div></div>
                <div class='container'><div class='cell width-50 padding-left-5'>Promo Amount</div></div>
                <div class='container'><div class='cell width-50 padding-left-5'>Total Amount</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell width-50 padding-right-5 align-right'>350.00 ₱</div></div>
                <div class='container'><div class='cell width-50 padding-right-5 align-right'>50,000.00 ₱</div></div>
                <div class='container'><div class='cell width-50 padding-right-3 align-right'><input class="width-60 input-peso" id="amount"/></div></div>
                <div class='container'><div class='cell width-50 padding-right-5 align-right'>48,000.00 ₱</div></div>
                <div class='container'><div class='cell width-50 padding-right-3 align-right'><input class="width-70" id="amount"/></div></div>
                <div class='container'><div class='cell width-50 padding-right-3 align-right'><input class="width-60 input-peso" id="amount"/></div></div>
                <div class='container'><div class='cell width-50 padding-right-5 align-right'>1,900.00 ₱</div></div>
            </div>
        </div>
    </div>

    <div class='no-divider'>
        <div class='button' id='save'>
            <div class='button-identifier' (click)="gotoRetailerSalesOrder()">SAVE</div>
        </div>
    </div>
</div>    