<div class="container-body">

    <div class='filter-container'>
        <div class='filter-input input'>
            <div class='icon'></div>
            <input type='text' id='RetailerSearchBox' placeholder='Search' />
        </div>  
    </div>

    <div class="item-container">
        <div class='container'>
            <div class='cell width-20'>
                <input id="checkbox-1" class="checkbox-custom" name="checkbox-1" type="checkbox">
                <label for="checkbox-1" class="checkbox-custom-label"></label>
            </div>
            <div class='cell'>
                
                    <div class='container'>
                        <div class='cell width-80 padding-right-5'>BM Store</div>
                    </div>
                    <div class='container'>
                        <div class='cell width-80 padding-right-5 grey'>9995207740</div>
                    </div>
                    <div class='container'>
                        <div class='cell width-80 padding-right-5 grey'>MARIKINA</div>
                    </div>
                
            </div>  
        </div>
    </div>


    <div class="item-container">
        <div class='container'>
            <div class='cell width-20'>
                <input id="checkbox-2" class="checkbox-custom" name="checkbox-2" type="checkbox">
                <label for="checkbox-2" class="checkbox-custom-label"></label>
            </div>
            <div class='cell'>
                    <div class='container'>
                        <div class='cell width-80 padding-right-5'>Anton Arenyer 12609</div>
                    </div>
                    <div class='container'>
                        <div class='cell width-80 padding-right-5 grey'>9289541403</div>
                    </div>
                    <div class='container'>
                        <div class='cell width-80 padding-right-5 grey'>Beside of Mapua &amp; Lyceum Intramuros Manila</div>
                    </div>     

            </div>  
        </div>
    </div>


    <div class="item-container">
        <div class='container'>
            <div class='cell width-20'>
                <input id="checkbox-3" class="checkbox-custom" name="checkbox-3" type="checkbox">
                <label for="checkbox-3" class="checkbox-custom-label"></label>
            </div>
            <div class='cell'>
                    <div class='container'>
                        <div class='cell width-80 padding-right-5'>Del Rosario Store 12609</div>
                    </div>
                    <div class='container'>
                        <div class='cell width-80 padding-right-5 grey'>9219762762</div>
                    </div>
                    <div class='container'>
                        <div class='cell width-80 padding-right-5 grey'>729 VICTORIA ST. INTRAMUROS MANILA</div>
                    </div>     

            </div>  
        </div>
    </div>

    <div class="no-divider">
        <div class='button-bottom' id='add-retailer-route-ok' (click)="gotoBasicCallProcedure()">
            <div class='button-identifier'>OK</div>
        </div>
    </div>

</div>      