<div class='container-body'>
    <div class="item-container sub">
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell width-100 padding-left-5 green'>Rose Cell</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell width-50 italic green'>(99999900003)</div></div>
            </div>
        </div>
    </div>
    <div class="item-container">
        <div class="bcp-step-container">
            <div class="step-field">
                <div class="step-field-item"><div class="step-circle">1</div></div>
                <div class="step-field-item">-</div>
                <div class="step-field-item"><div class="step-circle">2</div></div>
                <div class="step-field-item">-</div>
                <div class="step-field-item"><div class="step-circle">3</div></div>
                <div class="step-field-item">-</div>
                <div class="step-field-item"><div class="step-circle vivid-pink">4</div></div>
                <div class="step-field-item">-</div>
                <div class="step-field-item"><div class="step-circle">5</div></div>
            </div>
        </div>
    </div>
    <div class='item-container'>
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell align-center width-100 bold'>Price After Discount:</div></div>
                <div class='container'><div class='cell align-center width-100 bold green'>P 0</div></div>
            </div>
        </div>
    </div>
    <div class='item-container'>
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell padding-left-5 width-50'>Price Before Discount</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell align-right width-40'>P 0</div></div>
            </div>
            <div class='cell width-10'></div>
        </div>
    </div>
    <div class='item-container'>
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell padding-left-5 width-50'>Total Discount Amount</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell align-right width-40'>P 0</div></div>
            </div>
            <div class='cell width-10'></div>
        </div>
    </div>
    <div class='item-container'>
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell padding-left-5 width-50'>Load Transfer</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell align-right width-40'>P 0</div></div>
            </div>
            <div class='cell width-10 arrow-right' (click)='gotoAddEditLoadTransfer()'></div>
        </div>
    </div>
    <div>
        <div class='item-container sub'>
            <div class='container'>
                <div class='cell'>
                    <div class='container'><div class='cell padding-left-10 width-50 bold'>SMART</div></div>
                    <div class='container'><div class='cell padding-left-10 width-50 grey'>Balance Before</div></div>
                    <div class='container'><div class='cell padding-left-10 width-50 grey'>Transfer Amount</div></div>
                    <div class='container'><div class='cell padding-left-10 width-50 grey'>Balance After</div></div>
                    <div class='container'><div class='cell padding-left-10 width-50 grey'>RRN</div></div>
                    <div class='container'><div class='cell padding-left-10 width-50 grey'>Remarks</div></div>
                </div>
                <div class='cell'>
                    <div class='container'><div class='cell align-right width-40'>9000000003</div></div>
                    <div class='container'><div class='cell align-right width-40'>P 10,000</div></div>
                    <div class='container'><div class='cell align-right width-40 grey'>P 2,000</div></div>
                    <div class='container'><div class='cell align-right width-40'>P 8,000</div></div>
                    <div class='container'><div class='cell align-right width-40'></div></div>
                    <div class='container'><div class='cell align-right width-40 vivid-pink'>Process Timeout</div></div>
                </div>
                <div class='cell width-10'></div>
            </div>
            <div class='container'>
                <div class='double-divider'>
                    <div class='button button-small' id='cancel'>
                        <div class='button-identifier' (click)="confirmDisputeLoadTransfer()">DISPUTE</div>
                    </div>
                </div>
                <div class='double-divider'>
                    <div class='button button-small' id='confirm'>
                        <div class='button-identifier'>SUCCESS</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class='item-container sub'>
            <div class='container'>
                <div class='cell'>
                    <div class='container'><div class='cell padding-left-10 width-50 bold'>SUN</div></div>
                    <div class='container'><div class='cell padding-left-10 width-50 grey'>Balance Before</div></div>
                    <div class='container'><div class='cell padding-left-10 width-50 grey'>Transfer Amount</div></div>
                    <div class='container'><div class='cell padding-left-10 width-50 grey'>Balance After</div></div>
                    <div class='container'><div class='cell padding-left-10 width-50 grey'>RRN</div></div>
                    <div class='container'><div class='cell padding-left-10 width-50 grey'>Remarks</div></div>
                </div>
                <div class='cell'>
                    <div class='container'><div class='cell align-right width-40'>9000000004</div></div>
                    <div class='container'><div class='cell align-right width-40'>P 8,000</div></div>
                    <div class='container'><div class='cell align-right width-40 grey'>P 2,000</div></div>
                    <div class='container'><div class='cell align-right width-40'>P 6,000</div></div>
                    <div class='container'><div class='cell align-right width-40'></div></div>
                    <div class='container'><div class='cell align-right width-40 vivid-pink'>Failed Load Transfer</div></div>
                </div>
                <div class='cell width-10'></div>
            </div>
            <div class='container'>
                <div class='double-divider'>
                    <div class='button button-small' id='cancel'>
                        <div class='button-identifier'>CANCEL</div>
                    </div>
                </div>
                <div class='double-divider'>
                    <div class='button button-small' id='confirm'>
                        <div class='button-identifier'>RETRY</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class='item-container'>
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell padding-left-5 width-50'>Physical Order</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell align-right width-40'>P 0</div></div>
            </div>
            <div class='cell width-10 arrow-right' (click)='gotoAddEditPhysicalOrder()'></div>
        </div>
    </div>

        <div class='item-container sub'>
            <div class='container'>
                <div class='cell'>
                    <div class='container'><div class='cell padding-left-10 width-90'>Pinoy SIM</div></div>
<!--                     <div class='container'>
                        <div class='cell padding-left-10 width-90'>
                            <div class='container'>
                                <div class='cell'>
                                    <div class='container'><div class='cell width-50 grey'>Suggested Order</div></div>
                                </div>
                                <div class='cell'>
                                    <div class='container'><div class='cell align-right width-40'>500</div></div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class='cell width-10'></div>
            </div>
        </div>
        <div class='item-container sub'>
            <div class='container'>
                <div class='cell'>
                    <div class='container'><div class='cell padding-left-10 width-90'>SKU1</div></div>
                    <div class='container'>
                        <div class='cell padding-left-10 width-90'>
                            <div class='container'>
                                <div class='cell'>
                                    <div class='container'><div class='cell width-50 grey'>Order Quantity</div></div>
                                    <div class='container'><div class='cell width-50 grey'>Sub Total</div></div>
                                    <div class='container'><div class='cell width-50 grey'>Discount Amount</div></div>
                                    <div class='container'><div class='cell width-50 grey'>Total Amount</div></div>
                                </div>
                                <div class='cell'>
                                    <div class='container'><div class='cell align-right width-40'>10</div></div>
                                    <div class='container'><div class='cell align-right width-40'>P 2,000</div></div>
                                    <div class='container'><div class='cell align-right width-40'>P 100</div></div>
                                    <div class='container'><div class='cell align-right width-40'>P 1,900</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='cell width-10'></div>
            </div>
    </div>

    <div class='item-container'>
        <div class='container'>
            <div class='cell padding-left-5 width-50'>Order Payment</div>
        </div>
    </div>
    <div class='item-container sub'>
            <div class='container'>
                <div class='cell'>
                    <div class='container'><div class='cell padding-left-10 width-50 grey'>Payment Amount</div></div>
                    <div class='container'><div class='cell padding-left-10 width-50 grey'>Payment Status</div></div>
                </div>
                <div class='cell'>
                    <div class='container'><div class='cell width-60 padding-top-1 padding-bottom-1 align-right'><input class='width-100' id="payment_amount" type="number" pattern="[0-9]+([,\.][0-9]+)?"/></div></div>
                    <div class='container'><div class='cell align-right width-60 green'>Full</div></div>
                </div>
                <div class='cell width-10'></div>
            </div>
    </div>


    <div class='double-divider'>
        <div class='button' id='skip' (click)='skipSalesOrder()'>
            <div class='button-identifier'>SKIP</div>
        </div>
    </div>
    <div class='double-divider'>
        <div class='button' id='next' (click)="paySalesOrder()">
            <div class='button-identifier'>PAY</div>
        </div>
    </div>
