<div class='container-body'>
    <div class="item-container sub">
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell width-100 padding-left-5 green'>Rose Cell</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell width-50 italic green'>(99999900003)</div></div>
            </div>
        </div>
    </div>
    <div class="item-container">
        <div class="bcp-step-container">
            <div class="step-field">
                <div class="step-field-item"><div class="step-circle">1</div></div>
                <div class="step-field-item">-</div>
                <div class="step-field-item"><div class="step-circle">2</div></div>
                <div class="step-field-item">-</div>
                <div class="step-field-item"><div class="step-circle">3</div></div>
                <div class="step-field-item">-</div>
                <div class="step-field-item"><div class="step-circle vivid-pink">4</div></div>
                <div class="step-field-item">-</div>
                <div class="step-field-item"><div class="step-circle">5</div></div>
            </div>
        </div>
    </div>
    <div class='item-container'>
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell padding-left-5 width-50 green'>Order No. 12345678</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell align-right width-40'>2016-04-21 13:19
</div></div>
            </div>
            <div class='cell width-10'></div>
        </div>
    </div>
    <div class='item-container'>
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell padding-left-5 width-50'>Total Sales Order</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell align-right width-40'>P 5,700</div></div>
            </div>
            <div class='cell width-10'></div>
        </div>
    </div>
    <div>
        <div class='item-container sub'>
            <div class='container'>
                <div class='cell'>
                    <div class='container'><div class='cell padding-left-10 width-50 grey'>Total Load Transfer</div></div>
                    <div class='container'><div class='cell padding-left-10 width-50 grey'>Total Physical Order</div></div>
                </div>
                <div class='cell'>
                    <div class='container'><div class='cell align-right width-40'>P 4,000</div></div>
                    <div class='container'><div class='cell align-right width-40'>P 2,000</div></div>
                </div>
                <div class='cell width-10'></div>
            </div>
        </div>
    </div>

    <div class='item-container'>
        <div class='container'>
            <div class='cell padding-left-5 width-50'>Sales Order Payment</div>
        </div>
    </div>

    <div class='item-container sub'>
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell padding-left-10 width-50 grey'>Total Load Transfer</div></div>
                <div class='container'><div class='cell padding-left-10 width-50 grey'>Total Physical Order</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell align-right width-40'>P 5,700</div></div>
                <div class='container'><div class='cell align-right width-40 green'>Full</div></div>
            </div>
            <div class='cell width-10'></div>
        </div>
    </div>


    <div class='no-divider'>
        <div class='button' id='done'>
            <div class='button-identifier' (click)="gotoUnservedOrder()">DONE</div>
        </div>
    </div>
