<div class='container-body'>
    <div class="item-container sub">
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell width-100 padding-left-5 green'>Rose Cell</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell width-50 italic green'>(99999900003)</div></div>
            </div>
        </div>
    </div>

    <div class="item-container">
        <div class='container'>
                <div class='cell'>
                    <div class='container'><div class='cell width-100 padding-left-5'>Please input your reason<span class="vivid-pink">*</span></div></div>
                </div>
        </div>
        <div class='container'>
            <div class='cell width-100 padding-left-5 padding-right-5'>
                <textarea name="textarea" rows="10" cols="50"></textarea>
            </div>
        </div>
    </div>
    <div class='no-divider' id='submit'>
        <div class='button'>
            <div class='button-identifier' (click)="submitReasonCollection()">SUBMIT</div>
        </div>
    </div>
</div>