<div class='container-body'>
    <div class="item-container sub">
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell width-100 padding-left-5 green'>Rose Cell</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell width-50 italic green'>(99999900003)</div></div>
            </div>
        </div>
    </div>
    <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell width-100 padding-left-5'>Remarks</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell width-02 vivid-pink bold'>*</div></div>
            </div>
    </div>
    <div class='container'>
        <div class='cell width-100 padding-left-5 padding-right-5'>
            <textarea name="textarea" rows="10" cols="50"></textarea>
        </div>
    </div>
</div>