<div class="container-body">
    <div class="item-container">
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell single title'>Rose Cell</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell left title italic'>(99999900003)</div></div>
            </div>  
        </div>

        <div class="container">
            <div class='cell'>
                <div class='container'><div class='cell left green'>Order No. 12345678</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell right'>04/21/2016</div></div>
            </div>
                <div class='cell icon'></div>
        </div>
    </div>
    <div class="item-container">
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell single title'>Add Unserved Order</div></div>
            </div>
            <div class='cell icon add'></div>
        </div>
    </div>
    <div class='double-divider'>
        <div class='button' id='skip'>
            <div class='button-identifier'>SKIP</div>
        </div>
    </div>
    <div class='double-divider' id='confirm'>
        <div class='button' (click)="gotoBCPActivityStep()">
            <div class='button-identifier'>DONE</div>
        </div>
    </div>
</div>    