<div class="container-body">
    <div class="item-container">
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell header bold center title'>Total Remittance : 11,400.00 ₱</div></div>
            </div>
        </div>
    </div>
    <div class="item-container">
        <div class="container">
            <div class='cell'>
                <div class='container' id ="accRetName">
                    <div class='cell'>
                        <div class="container">
                            <div class='cell'>
                                <div class='container' id ="accSeq"><div class='cell left'>RemitBD1356</div></div>
                            </div>
                            <div class='cell'>
                                <div class='container' id ="accSeq"><div class='cell right'>9,000.00 ₱</div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='container' id ="accSeq"><div class='cell single green'>Bank Deposit</div></div>
                <div class='container' id ="accSeq"><div class='cell single grey'>Bank BCA / Cibinong</div></div>
                <div class='container' id ="accSeq"><div class='cell single grey'>110.220.330.440</div></div>
                <div class='container' id ="accSeq"><div class='cell single grey'>17/04/2016</div></div>
            </div>
                <div class='cell icon'></div>
        </div>
    </div>
    <div class="item-container">
        <div class="container">
            <div class='cell'>
                <div class='container' id ="accRetName">
                    <div class='cell'>
                        <div class="container">
                            <div class='cell'>
                                <div class='container' id ="accSeq"><div class='cell left'>RemitBD1390</div></div>
                            </div>
                            <div class='cell'>
                                <div class='container' id ="accSeq"><div class='cell right'>2,400.00 ₱</div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='container' id ="accSeq"><div class='cell single green'>Bank Deposit</div></div>
                <div class='container' id ="accSeq"><div class='cell single grey'>Bank BCA / Cibinong</div></div>
                <div class='container' id ="accSeq"><div class='cell single grey'>110.220.330.440</div></div>
                <div class='container' id ="accSeq"><div class='cell single grey'>05/05/2016</div></div>
            </div>
                <div class='cell icon'></div>
        </div>
    </div>
    <div class="no-divider">
        <div class= "button" >
            <div class="button-identifier">ADD REMITTANCE</div>
        </div>      
    </div>
</div>