 <div class="footer-menu" *ngIf="getLayout().appFooter">
    <div class="column" (click)="gotoMyTransaction()">
      <div class="my-transaction" [ngClass]="{ active : getFooterState().mytransaction}"></div>
      <div class="text"[ngClass]="{ active : getFooterState().mytransaction}">My Transaction</div>
   </div>
 
   <div class="column" (click)="gotoBasicCallProcedure()">
      <div class="basic-procedure" [ngClass]="{ active : getFooterState().basicp}"></div>
      <div class="text" [ngClass]="{ active : getFooterState().basicp}">Basic Procedure</div>
   </div>
 
   <div class="column" (click)="gotoCloseDay()">
      <div class="close-day" [ngClass]="{ active : getFooterState().closeday}"></div>
      <div class="text" [ngClass]="{ active : getFooterState().closeday}">Close Day</div> 
   </div>
 
   <div class="column" (click)="gotoSettings()">
      <div class="settings" [ngClass]="{ active : getFooterState().settings}"></div>
      <div class="text" [ngClass]="{ active : getFooterState().settings}">Settings</div>
   </div>
 </div>
