<div class ="container-body menu">
    <div class="parent">
        <div class="cover">
            <div class="cover-photo">
                <div class="anti-spy"></div>
                <div class="cover-date">{{getToday()  | date:'MMM, dd yyyy'}}</div>
                <div class="profile-photo"></div>
                <div class="cover-name">Hi, Tamara Josh</div>
            </div>
        </div>
    </div>
</div>
<div class="home-container">
    <div class="home-item-box">
        <div class="home-table" (click)="goToMyDashboard()">
            <div class='cell icon mydashboard'></div>
            <div class='cell'>
                <div class="home-table">
                    <div id='dashboard-home-btn' class='cell single'> 
                        My Dashboard
                    </div>
                </div>
            </div>
        </div>
        <div class="separator"></div>

        <div class="home-table" (click)="goToTargetsActuals()">
            <div class='cell icon target'></div>
            <div class='cell'>
                <div class="home-table">
                    <div id='targets-actuals-home-btn' class='cell single'>
                        Targets &amp; Actuals
                    </div>
                </div>
            </div>
        </div>
        <div class="separator"></div>

        <div class="home-table" (click)="goToInventory()">
            <div class='cell icon inventory'></div>
            <div class='cell'>
                <div class="home-table">
                    <div id='inventory-home-btn' class='cell single'>
                        Inventory
                    </div>
                </div>
            </div>
        </div>
        <div class="separator"></div>

        <div class="home-table" (click)="goToBasicCallProcedure()">
            <div class='cell icon bcp'></div>
            <div class='cell'>
                <div class="home-table">
                    <div id='basic-call-procedure-home-btn' class='cell single'>
                        Basic Call Procedure
                    </div>
                </div>
            </div>
        </div>
        <div class="separator"></div>

        <div class="home-table" (click)="goToRemittance()">
            <div class='cell icon remittance'></div>
            <div class='cell'>
                <div class="home-table">
                    <div id='remittance-home-btn'class='cell single'>
                        Remittance
                    </div>
                </div>
            </div>
        </div>
        <div class="separator"></div>

        <div class="home-table" (click)="goToStockReturn()">
            <div class='cell icon stock-return'></div>
            <div class='cell'>
                <div class="home-table">
                    <div id='stock-return-home-btn'class='cell single'>
                        Stock Return
                    </div>
                </div>
            </div>
        </div>
        <div class="separator"></div>

        <div class="home-table" (click)="toggleLogout()">
            <div class='cell icon logout'></div>
            <div class='cell'>
                <div class="home-table">
                    <div id='logout-home-btn' class='cell single'>
                        Logout
                    </div>
                </div>
            </div>
        </div>
        <div class="separator"></div>

    </div>
</div>