<div class="leftmenuContainer" [ngClass]="{active : getLeftMenuState()}">
    <div class="menuHeader">
        
        <div>
            <img src="http://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif" class="menuPic" id="menuPic" (click)="takepic()"/>
            <div class="menuHeaderText">
                <!--<input type="file" />-->
                <div class="smartPoint">Tamara Josh</div>
            </div>
        </div>
    </div>
    <div class="menuItemBox">
        <div class="itemCategory" (click)="goToInbox()">
            My Dashboard
            <div class="arrow"></div>
        </div>
                <div class="itemCategory" (click)="toggleChangeMenu('account')">
                    Targets &amp; Actuals
                    <div class="arrow"></div>
                </div>
                <div class="itemCategory" (click)="toggleChangeMenu('smartService')">
                    Inventory
                    <div class="arrow"></div>
                </div>
                <div class="itemCategory" (click)="toggleChangeMenu('addOns')">
                    Retailer Route
                    <div class="arrow"></div>
                </div>
                <div class="itemCategory" (click)="toggleChangeMenu('billingDetail')">
                    Account Receivables
                    <div class="arrow"></div>
                </div>
                <div class="itemCategory" (click)="toggleChangeMenu('balanceUsage')">
                    Threshold &amp; Alerts
                    <div class="arrow"></div>
                </div>
        

        <div class="itemCategory" (click)="toggleChangeMenu('rewards')" >
            Basic Call Procedure
            <div class="arrow"></div>
        </div>


        <div class="itemCategory" (click)="toggleChangeMenu('support')">
            Close of the Day
            <div class="arrow"></div>
        </div>
                <div class="itemCategory" (click)="logout()">
                    Targets &amp; Actuals
                    <div class="arrow"></div>
                </div>
                <div class="itemCategory" (click)="goToInbox()">
                    Visited Retailer Route
                    <div class="arrow"></div>
                </div>
                <div class="itemCategory" (click)="toggleChangeMenu('account')">
                    Collection &amp; Remittance Summary
                    <div class="arrow"></div>
                </div>

        <div class="itemCategory" (click)="toggleChangeMenu('smartService')">
            Remittance
            <div class="arrow"></div>
        </div>


        <div class="itemCategory" (click)="toggleChangeMenu('addOns')">
            Stock Return
            <div class="arrow"></div>
        </div>


        <div class="itemCategory" (click)="logout()">
            Logout
            <div class="arrow"></div>
        </div>
    </div>
</div>
<div class="leftmenuOther" *ngIf="getLeftMenuState()" (click)="toggleLeftMenu()"></div>