<!--<div class="modal-outer-box" *ngIf='getMainModalStatus()'>
    <div class="modal-internal">

    	<error-modal *ngIf='getModalStatus().error'></error-modal>
        <info-modal *ngIf='getModalStatus().info'></info-modal>
        <verification-code-modal *ngIf='getModalStatus().verificationCode'></verification-code-modal>
        <resend-mpin-modal *ngIf='getModalStatus().resendMpin'></resend-mpin-modal>
    </div>
</div>-->
<div class="modal-outer-box" *ngIf="getModalState()">
    <div class="modal-internal">
    	<div class="modal-container">
    		<div class="modal-body">
		    	<div class="item-header"></div>
		        <div class="item-title" [innerHTML]="getModalMessage()">
		        </div>
	    	</div>
		    <div class="modal-footer">
	    		<div [ngClass]="{one:getButtons().length === 1 , two:getButtons().length === 2}">
		        	<div *ngFor="#button of getButtons()" class="button {{button.color_style}}" id="{{button.id}}" (click)="callback(button)">{{button.display}}</div>
	        	</div>
		    </div>
		    <div class="foot-note" [innerHTML]="getFootNote()">
		    </div>
		</div>
	</div>
</div>