<div class="verification">
	<div class="outer-box">
		<div class="header">DSP Mobile App</div>
		<div class="inner-box">
			<div class="loginSeparator"></div>
			<div class="errorAlert"></div>
			<div class="mpinBox">
				<input/><input/><input/><input/>
			</div>
			<div class="loginSeparator"></div>
			<br/>
			<div class="message">
			An MPIN code has been sent<br/>
			to your registered number.</div>
			<a (click)="login($event)"><div class="loginButton">SUBMIT</div></a>
		</div>
	</div>
	<div class="smartLogo"></div>
</div>