<div class="verification">
	<div class="outer-box">
		<div class="header">DSP Mobile App</div>
		<div class="inner-box">
			<div class="login-separator"></div>
			<div class="error-alert"></div>
			<div class="mpin-box">
				<input type="number"/>
				<input/>
				<input/>
				<input/>
			</div>
			<div class="login-separator"></div>
			<br/>
			<div class="message">
			An MPIN code has been sent<br/>
			to your registered number.</div>
			<a (click)="login($event)"><div class="login-button">SUBMIT</div></a>
		</div>
	</div>
	<div class="smart-logo"></div>
</div>