<div class="reset-password">
    <div class="container-body">
        <div class="inner-box">
			<div class="login-separator"></div>
			<div class="message">Old Password</div>
			<div><input/></div>
			<div class="message">New Password</div>
			<div><input/></div>
			<div class="message">Confirm New Password</div>
			<div><input/></div>
			<div class="login-separator"></div>
			<br/>		
			<a (click)="toggleVerificationCodeModal()">
				<div class="login-button">UPDATE</div>
			</a>
		</div>
    </div>
</div>