<div class="setting">
    <div class="containerBody">
        <div class="button">
            <div class="buttonIdentifier green" (click)="goToResetPassword()">Reset Password</div>
        </div>
         <div class="separator"></div>
        <div class="button">
            <div class="buttonIdentifier green">Sync</div>
        </div>
         <div class="separator"></div>
         <div class="button">
       	 	<div class="buttonIdentifier green" (click)="logout()">Log Out</div>
        </div>
    </div>
</div>