<div class="container-body">
    <div class="item-container">
        <div class="container">
            <div class='cell width-15'>
                <input id="checkbox-1" class="checkbox-custom" name="checkbox-1" type="checkbox">
                <label for="checkbox-1" class="checkbox-custom-label"></label>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell width-90 padding-left-5'>RemitBD1356</div></div>
                <div class='container'>
                    <div class='cell'>
                        <div class="container">
                            <div class='cell'>
                                <div class='container'><div class='cell width-60 padding-left-5 green'>Bank Deposit</div></div>
                                <div class='container'><div class='cell width-60 padding-left-5 grey'>Bank BCA / Cibinong</div></div>
                            </div>
                            <div class='cell'>
                                <div class='container'><div class='cell width-60 padding-right-5 align-right large red'>Unconfirmed</div></div>
                                <div class='container'><div class='cell width-60 padding-right-5 align-right'>10,000.00 ₱</div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='container'><div class='cell width-90 padding-left-5 grey'>110.220.330.440</div></div>
                <div class='container'><div class='cell width-90 padding-left-5 grey'>2016-04-17 14:22</div></div>
            </div>
        </div>
    </div>
    <div class="item-container">
        <div class="container">
            <div class="cell">
                <div class="container"><div class="cell width-45 padding-left-5 grey">Amount</div></div>
                <div class="container"><div class="cell width-45 padding-left-5 padding-right-5"><input class="width-100" type ="text" id ="distributor-username" placeholder="Distributor Username"/></div></div>
                <br/>
                <div class="container"><div class="cell width-45 padding-left-5 padding-right-5"><input class="width-100" type ="text" id ="distributor-password" placeholder="Distributor Password"/></div></div>
            </div>
        </div>
    </div>
    
    <div class="no-divider" (click)="gotoRemittance()">
        <div class= "button" id="btn-confirm">
            <div class="button-identifier">CONFIRM</div>
        </div>      
    </div>
</div>