<div class="container-body">
    <div class="item-container">
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell bold width-50 padding-left-5 large'>Total Receivables :</div></div>
            </div>
            <div class='cell'>
                <div class='container'><div class='cell bold width-50 padding-right-5 align-right large'>11,400.00 ₱</div></div>
            </div>
        </div>
    </div>
    <div class="item-container">
        <div class="container">
            <div class='cell'>
                <div class='container'>
                    <div class='cell'>
                        <div class="container">
                            <div class='cell'>
                                <div class='container'><div class='cell width-50 padding-left-5'>RemitBD1356</div></div>
                            </div>
                            <div class='cell'>
                                <div class='container'><div class='cell width-50 padding-right-5 align-right'>9,000.00 ₱</div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='container'><div class='cell width-100 padding-left-5 green'>Bank Deposit</div></div>
                <div class='container'><div class='cell width-100 padding-left-5 grey'>Bank BCA / Cibinong</div></div>
                <div class='container'><div class='cell width-100 padding-left-5 grey'>110.220.330.440</div></div>
                <div class='container'><div class='cell width-100 padding-left-5 grey'>17/04/2016</div></div>
            </div>
        </div>
    </div>
    <div class="item-container">
        <div class="container">
            <div class='cell'>
                <div class='container'>
                    <div class='cell'>
                        <div class="container">
                            <div class='cell'>
                                <div class='container'><div class='cell width-50 padding-left-5'>RemitBD1390</div></div>
                            </div>
                            <div class='cell'>
                                <div class='container'><div class='cell width-50 padding-right-5 align-right'>2,400.00 ₱</div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='container'><div class='cell width-100 padding-left-5 green'>Bank Deposit</div></div>
                <div class='container'><div class='cell width-100 padding-left-5 grey'>Bank BCA / Cibinong</div></div>
                <div class='container'><div class='cell width-100 padding-left-5 grey'>110.220.330.440</div></div>
                <div class='container'><div class='cell width-100 padding-left-5 grey'>05/05/2016</div></div>
            </div>
        </div>
    </div>
    <div class="no-divider">
        <div class= "button" >
            <div class="button-identifier">ADD REMITTANCE</div>
        </div>      
    </div>
</div>