<div class="myTransaction" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
    <div class="containerBody">
        <div class="separator"></div>
        <div class="itemContainer">
            <div class="itemIdentifier green">Targets &amp; Actuals</div>
        </div>
         <div class="separator"></div>
        <div class="itemContainer">
            <div class="itemIdentifier green">Inventory</div>
        </div>
         <div class="separator"></div>
         <div class="itemContainer">
            <div class="itemIdentifier green">Retailer Route</div>
        </div>
         <div class="separator"></div>
         <div class="itemContainer">
            <div class="itemIdentifier green">Accounts Receivables</div>
        </div>
         <div class="separator"></div>
        <div class="itemContainer">
            <div class="itemIdentifier green">DSP Alerts</div>
        </div>
    </div>
</div>