

<div class="container-body">
    <div class="item-container">
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell width-100 padding-left-5'>SKU1</div></div>
                <div class='container'>
                	<div class='cell width-100'>
		                <div class='container'>
		                    <div class='cell'>
		                        <div class="container">
		                            <div class='cell'>
		                                <div class='container'><div class='cell width-50 padding-left-5'>Ending Balance</div></div>
		                                <div class='container'><div class='cell width-50 padding-left-5'>Amount Return</div></div>
		                            </div>
		                            <div class='cell'>
		                                <div class='container'><div class='cell width-50 padding-right-5 align-right'>1,300</div></div>
		                                <div class='container'><div class='cell width-50 padding-right-5 align-right'><input class="width-30" id="amount" type="number" pattern="[0-9]+([,\.][0-9]+)?"/></div></div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
            </div>
        </div>
    </div>
    <div class="item-container">
        <div class='container'>
            <div class='cell'>
                <div class='container'><div class='cell width-100 padding-left-5'>SKU2</div></div>
                <div class='container'>
                	<div class='cell width-100'>
		                <div class='container'>
		                    <div class='cell'>
		                        <div class="container">
		                            <div class='cell'>
		                                <div class='container'><div class='cell width-50 padding-left-5'>Ending Balance</div></div>
		                                <div class='container'><div class='cell width-50 padding-left-5'>Amount Return</div></div>
		                            </div>
		                            <div class='cell'>
		                                <div class='container'><div class='cell width-50 padding-right-5 align-right'>900</div></div>
		                                <div class='container'><div class='cell width-50 padding-right-5 align-right'><input class="width-30" id="amount" type="number" pattern="[0-9]+([,\.][0-9]+)?"/></div></div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
            </div>
        </div>
    </div>
</div>

<div class="container-body">
	<div class="no-divider">
		<div class="button">
			<!-- <a (click)="save($event)" id="save-link"><div class="button-identifier">SAVE</div></a> -->
			<div class="button-identifier" (click)="goToConfirmStockReturn()">SAVE</div>
		</div>
	</div>
</div>
